<div class="email-activation-container mat-elevation-z8">
  <!-- Error Message -->
  <mat-card *ngIf="errorMessage" class="mat-card-error m-t-24">
    <mat-card-content>
      <mat-icon color="warn">error_outline</mat-icon>
      <p>{{ errorMessage }}</p>
    </mat-card-content>
  </mat-card>

  <!-- Success Message -->
  <mat-card *ngIf="successMessage" class="mat-card-success m-t-24">
    <mat-card-content>
      <mat-icon color="primary">check_circle</mat-icon>
      <p>{{ successMessage }}</p>
    </mat-card-content>
  </mat-card>

  <!-- Loading State -->
  <div *ngIf="!successMessage && !errorMessage" class="loading">
    <mat-progress-spinner mode="indeterminate" diameter="40" color="primary">
    </mat-progress-spinner>
    <p>Processing your email activation...</p>
  </div>
</div>
