<form [formGroup]="loginForm" (ngSubmit)="signIn()">
    <div>
        <label for="email">Email:</label>
        <input id="email" type="email" formControlName="email" />
        <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
            <small *ngIf="loginForm.get('email')?.errors?.['required']" style="color: red;">
                Email is required.
            </small>
            <small *ngIf="loginForm.get('email')?.errors?.['email']" style="color: red;">
                Please enter a valid email address.
            </small>
        </div>
    </div>

    <div>
        <label for="password">Password:</label>
        <input id="password" type="password" formControlName="password" />
        <button type="button" (click)="navigateToForgotPassword()">Forgot Password?</button>
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
            <small *ngIf="loginForm.get('password')?.errors?.['required']" style="color: red;">
                Password is required.
            </small>
            <small *ngIf="loginForm.get('password')?.errors?.['minlength']" style="color: red;">
                Password must be at least 6 characters long.
            </small>
        </div>
        <!-- <button type="button" (click)="navigateToResetPassword()">Reset Password?</button> -->

    </div>

    <div>
        <input id="rememberMe" type="checkbox" formControlName="rememberMe" />
        <label for="rememberMe">Remember Me?</label>
    </div>

    <button type="submit">Login</button>
    <button type=" submit" (click)=" navigateToNewuserRegistartion()">New User Registration</button>
</form>