<form [formGroup]="loginForm" (ngSubmit)="signIn()">
    <div>
        <label for="email">Email:</label>
        <input id="email" type="email" formControlName="email" />
    </div>

    <div>
        <label for="password">Password:</label>
        <input id="password" type="password" formControlName="password" />
        <button type="button" (click)="navigateToForgotPassword()">Forgot Password?</button>
        <!-- <button type="button" (click)="navigateToResetPassword()">Reset Password?</button> -->

    </div>

    <button type="submit">Login</button>
    <button type=" submit" (click)=" navigateToNewuserRegistartion()">New User Registration</button>
</form>