<!-- Filters -->
<mat-card class="cardWithShadow">
  <mat-card-content>
    <div class="row justify-content-between align-items-center">
      <div class="col-xl-4 col-lg-4 col-md-12">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Search </mat-label>

          <input matInput placeholder="Search " [(ngModel)]="filters.all" (keyup.enter)="onSearch()" />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-xl-8 col-lg-8 col-md-12">
        <div class="row align-items-center justify-content-end">
          <div class="col-xl-1 col-lg-1 col-md-12">
            <h4 class="mb-20"> Filters </h4>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Name</mat-label>
              <mat-select [(ngModel)]="filters.name" (selectionChange)="onSearch()">
                <mat-option *ngFor="let name of allData"
                  [value]="name?.user?.userProfile?.first_name + ' ' +name?.user?.userProfile?.last_name">{{name?.user?.userProfile?.first_name + ' ' + name?.user?.userProfile?.last_name}}
                  </mat-option>
              </mat-select>

            </mat-form-field>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Email</mat-label>
              <mat-select [(ngModel)]="filters.email" (selectionChange)="onSearch()">
                <mat-option *ngFor="let item of allData" [value]="item?.user?.email">{{item?.user?.email}}</mat-option>
              </mat-select>

            </mat-form-field>
          </div>

          <div class="col-xl-1 col-lg-2 col-md-3">
            <button mat-button color="primary" class="mb-20" (click)="clearSearch()">
              Clear
            </button>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="cardWithShadow">
  <mat-card-content>
    <div class="table-responsive">
      <table mat-table [dataSource]="appliedData" class="w-100">

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell *matCellDef="let element">
            <div class="d-flex align-items-center">
              <div class="">
                <p>{{ element?.user?.userProfile?.first_name + ' ' +element?.user?.userProfile?.last_name }}</p>
                <!-- <small class="f-s-14">{{ element.rank }}</small> -->
              </div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>Email</th>
          <td mat-cell *matCellDef="let element" class="f-s-14">{{ element?.user.email }}</td>
        </ng-container>

        <ng-container matColumnDef="applied_at">
          <th mat-header-cell *matHeaderCellDef>Applied Date</th>
          <td mat-cell *matCellDef="let element" class="f-s-14">{{ element?.applied_at | date:'dd-MM-yyyy' }}</td>
        </ng-container>

        <ng-container matColumnDef="work_experiences">
          <th mat-header-cell *matHeaderCellDef>Experience</th>
          <td mat-cell *matCellDef="let element" class="f-s-14">{{ element?.work_experiences }}
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let element" class="f-s-14">{{ element?.status }}</td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element">
            <a href="Applied-Status">
              <mat-icon>visibility</mat-icon>

            </a>
            <!-- <button mat-icon-button [matMenuTriggerFor]="menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <a mat-menu-item>
                                <mat-icon>visibility</mat-icon>
                                <span>View Details</span>
                            </a>

                        </mat-menu> -->
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell text-center" [attr.colspan]="displayedColumns.length">
            <div class="no-records-message">

              <span class="text-danger ms-2">No records found</span>
            </div>
          </td>
        </tr>
      </table>

    </div>
    <mat-paginator [length]="total" [pageSize]="pageConfig.perPage" [pageIndex]="pageConfig.curPage - 1"
      [pageSizeOptions]="[5, 10, 20, 50, 100]" [showFirstLastButtons]="true" (page)="onPageChange($event)"
      aria-label="Select page">
    </mat-paginator>
  </mat-card-content>
</mat-card>
