<div class="login-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="email">Email:</label>
        <input id="email" type="email" formControlName="email" />
      </div>
  
      <div>
        <label for="password">Password:</label>
        <input id="password" type="password" formControlName="password" />
        <button type="button" (click)="navigateToForgotPassword()">Forgot Password?</button>
      </div>
  
      <button type="submit">Login</button>
    </form>
  </div>
  
