<div *ngIf="applicantDetails">

  <div class="header d-flex align-items-center gap-6 m-b-16">
    <button mat-icon-button color="primary" (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h2>Application Details</h2>
  </div>
  <mat-card class="cardWithShadow">
    <mat-card-content>
      <mat-card-title class="m-b-16">
        Application Status
      </mat-card-title>
      <div class="d-flex align-items-center justify-content-between gap-6">
        <div class="d-flex align-items-center justify-content-between gap-6">
          <label>Current Status:</label>
          <span class="status-badge" [ngClass]="applicantDetails.status?.toLowerCase()">
            {{applicantDetails.status||'-'}}
          </span>
        </div>
        <div class="status-change">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Change Status</mat-label>
            <mat-select [(ngModel)]="selectedStatus">
              <mat-option value="">Select Status</mat-option>
              <mat-option *ngFor="let status of statusOptions" [value]="status">
                {{ status ||'-' }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <div class="row">
    <div class="col-lg-8">
      <mat-card class="cardWithShadow">
        <mat-card-content>
          <mat-card-title class="m-b-16">
            Personal Information
          </mat-card-title>
          <div class="row m-b-16">
            <div class="col-lg-4"> <label>Name:</label></div>
            <div class="col-lg-8"> <strong>{{applicantDetails.user.userProfile?.first_name ||'-'}}
                {{applicantDetails.user.userProfile?.last_name ||'-'}}</strong></div>
          </div>
          <div class="row m-b-16">
            <div class="col-lg-4"> <label>Email:</label></div>
            <div class="col-lg-8"> <strong>{{applicantDetails.user.email ||'-'}}</strong></div>
          </div>
          <div class="row m-b-16">
            <div class="col-lg-4"> <label>Gender:</label></div>
            <div class="col-lg-8"> <strong>{{applicantDetails.user.userProfile?.gender ||'-'}}</strong></div>
          </div>
          <div class="row m-b-16">
            <div class="col-lg-4"> <label>Date of Birth:</label></div>
            <div class="col-lg-8"> <strong>{{applicantDetails.user.userProfile?.dob | date }}</strong></div>
          </div>
          <div class="row m-b-16">
            <div class="col-lg-4"> <label>Mobile:</label></div>
            <div class="col-lg-8"> <strong>{{applicantDetails.user.userProfile?.mobile ||'-'}}</strong></div>
          </div>

        </mat-card-content>
      </mat-card>
      <mat-card class="cardWithShadow">
        <mat-card-content>
          <mat-card-title class="m-b-16">
            Professional Details
          </mat-card-title>
          <div class="row m-b-16">
            <div class="col-lg-4"> <label>Current Company:</label></div>
            <div class="col-lg-8"> <strong>{{applicantDetails.user.userProfile?.current_company ||'-'}}</strong></div>
          </div>
          <div class="row m-b-16">
            <div class="col-lg-4"> <label>Work Experience:</label></div>
            <div class="col-lg-8"> <strong>{{applicantDetails.user.userProfile?.work_experiences ||'-'}}</strong></div>
          </div>
          <div class="row m-b-16">
            <div class="col-lg-4"> <label>Expected Salary:</label></div>
            <div class="col-lg-8"> <strong>{{applicantDetails.user.userProfile?.expected_salary ||'-'}}</strong></div>
          </div>
          <div class="row m-b-16">
            <div class="col-lg-4"> <label>Key Skills:</label></div>
            <div class="col-lg-8"><button mat-stroked-button color="primary" class="m-l-4"  *ngFor="let skill of keySkills">
              {{ skill }}
            </button>

             </div>
          </div>
          <div class="row m-b-16">
            <div class="col-lg-4"> <label>Mobile:</label></div>
            <div class="col-lg-8"><strong>{{applicantDetails.user.userProfile?.mobile||'-' }}</strong>
                </div>
          </div>

        </mat-card-content>
      </mat-card>


      <mat-card class="cardWithShadow" *ngIf="applicantDetails.additional_info || applicantDetails.description">
        <mat-card-content>
          <mat-card-title class="m-b-16">
            Additional Information
          </mat-card-title>
          <div class="row m-b-16" *ngIf="applicantDetails.description">
            <div class="col-lg-4"> <label>Description</label></div>
            <div class="col-lg-8"> <strong>{{applicantDetails.user.userProfile?.current_company ||'-'}}</strong></div>
          </div>
          <div class="row m-b-16" *ngIf="applicantDetails.additional_info">
            <div class="col-lg-4"> <label>Additional Info:</label></div>
            <div class="col-lg-8"> <strong>{{applicantDetails.additional_info ||'-'}}</strong></div>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="cardWithShadow" *ngIf="applicantDetails.additional_info || applicantDetails.description">
        <mat-card-content>
          <mat-card-title class="m-b-16">
            Additional Information
          </mat-card-title>
          <div class="row m-b-16" *ngIf="applicantDetails.description">
            <div class="col-lg-4"> <label>Description:</label></div>
            <div class="col-lg-8"> <strong>{{applicantDetails.description ||'-'}}</strong></div>
          </div>
          <div class="row m-b-16" *ngIf="applicantDetails.additional_info">
            <div class="col-lg-4"> <label>Additional Info:</label></div>
            <div class="col-lg-8"> <strong>{{applicantDetails.additional_info ||'-'}}</strong></div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-lg-4">
      <mat-card *ngIf="certifications.length > 0">
        <mat-card-content>
          <mat-card-title class="m-b-16">
            Courses & Certifications
          </mat-card-title>
          <div class="certification-item " *ngFor="let cert of certifications">
            <h4 class="m-b-0">{{cert.organization_name}}</h4>
            <p *ngIf="cert.certification_description || cert.certification_description === null">
              <strong>Description:</strong>
              {{ cert.certification_description || 'Not Available' }}
            </p>
            <a *ngIf="cert.certification_file" [href]="cert.certification_file" target="_blank" mat-button>
              View Certificate
            </a>
          </div>
        </mat-card-content>
      </mat-card>


      <mat-card>
        <mat-card-content>
          <mat-card-title class="m-b-16">
            Documents
          </mat-card-title>
          <div class="d-flex align-items-center justify-content-between gap-6 " *ngIf="applicantDetails.cv_path">
            <div class="">
              <h4 class="m-b-0">CV/Resume</h4>
              <h5 class="m-b-0 m-t-0">CV_Deepika_Joshi.pdf
              </h5>
            </div>

            <a mat-flat-button [href]="applicantDetails.cv_path" target="_blank">
              Download CV
            </a>
          </div>
        </mat-card-content>
      </mat-card>


      <mat-card>
        <mat-card-content>
          <mat-card-title class="m-b-16">
            Admin Comment
          </mat-card-title>
          <mat-form-field appearance="outline" class="w-100">
            <textarea [(ngModel)]="adminComments" rows="5" matInput placeholder="Add your comments here..."></textarea>
          </mat-form-field>
          <button mat-flat-button class="w-100" (click)="updateStatus()" color="primary">
            Save
          </button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
