<div *ngIf="applicantDetails">
  <div class="header d-flex align-items-center gap-6 m-b-16">
    <button mat-icon-button color="primary" (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h2>Application Details</h2>
  </div>
  <mat-card class="cardWithShadow">
    <mat-card-content>
      <mat-card-title class="m-b-16"> Application Status </mat-card-title>
      <div class="d-flex align-items-center justify-content-between gap-6">
        <div class="d-flex align-items-center justify-content-between gap-6">
          <label>Current Status:</label>
          <span
            class="status-badge"
            [ngClass]="applicantDetails.status?.toLowerCase()"
          >
            {{ applicantDetails.status || "-" }}
          </span>
        </div>
        <div class="status-change">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Change Status</mat-label>
            <mat-select [(ngModel)]="selectedStatus">
              <mat-option value="">Select Status</mat-option>
              <mat-option *ngFor="let status of statusOptions" [value]="status">
                {{ status || "-" }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <div class="row">
    <div class="col-lg-8">
      <!-- Personal Information -->
      <mat-card class="cardWithShadow">
        <mat-card-content>
          <mat-card-title class="m-b-16"> Personal Information </mat-card-title>
          <div class="row m-b-16">
            <div class="col-lg-4"><label>Name:</label></div>
            <div class="col-lg-8">
              <strong
                >{{ applicantDetails.user.userProfile?.first_name || "-" }}
                {{
                  applicantDetails.user.userProfile?.last_name || "-"
                }}</strong
              >
            </div>
          </div>
          <div class="row m-b-16">
            <div class="col-lg-4"><label>Email:</label></div>
            <div class="col-lg-8">
              <strong>{{ applicantDetails.user.email || "-" }}</strong>
            </div>
          </div>
          <!-- <div class="row m-b-16">
            <div class="col-lg-4"><label>Gender:</label></div>
            <div class="col-lg-8">
              <strong>{{
                applicantDetails.user.userProfile?.gender || "-"
              }}</strong>
            </div>
          </div> -->
          <div class="row m-b-16">
            <div class="col-lg-4"><label>Mobile:</label></div>
            <div class="col-lg-8">
              <strong>
                +{{
                  (applicantDetails.user.userProfile?.dial_code
                    ? applicantDetails.user.userProfile.dial_code + " "
                    : "") + (applicantDetails.user.userProfile?.mobile || "-")
                }}
              </strong>
            </div>
          </div>

          <div class="row m-b-16">
            <div class="col-lg-4"><label>Date of Birth:</label></div>
            <div class="col-lg-8">
              <strong>{{
                applicantDetails.user.userProfile?.dob | date
              }}</strong>
            </div>
          </div>

          <div class="row m-b-16">
            <div class="col-lg-4"><label>Nationalities:</label></div>
            <div class="col-lg-8">
              <strong>{{
                applicantDetails.user.userProfile?.nationalities || "-"
              }}</strong>
            </div>
          </div>

          <div class="row m-b-16">
            <div class="col-lg-4"><label>Country of Residence:</label></div>
            <div class="col-lg-8">
              <strong>
                {{ applicantDetails.user.userProfile?.country || "-" }}
              </strong>
            </div>
          </div>

          <div class="row m-b-16">
            <div class="col-lg-4"><label>Location:</label></div>
            <div class="col-lg-8">
              <strong>
                {{ applicantDetails.user.userProfile?.location || "-" }}
              </strong>
            </div>
          </div>
          <hr />
          <div class="row m-b-16 m-t-16">
            <div class="col-lg-12">
              <mat-card-title class="m-b-16">
                Additional Contact Information:
              </mat-card-title>
            </div>
          </div>
          <div
            *ngIf="
              applicantDetails.user.userProfile?.additional_contact_info?.length
            "
          >
            <div
              class="row m-b-16"
              *ngFor="
                let contact of applicantDetails.user.userProfile
                  .additional_contact_info
              "
            >
              <div class="col-lg-4">
                <label>{{ contact.contact_type }}:</label>
              </div>
              <div class="col-lg-8">
                <strong>
                  {{ contact.value }}
                </strong>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

      <!-- Professional Information -->
      <mat-card class="cardWithShadow">
        <mat-card-content>
          <mat-card-title class="m-b-16">
            Professional Information
          </mat-card-title>
          <!-- <div class="row m-b-16">
            <div class="col-lg-4"><label>Current Company:</label></div>
            <div class="col-lg-8">
              <strong>{{
                applicantDetails.user.userProfile?.current_company || "-"
              }}</strong>
            </div>
          </div> -->
          <div class="row m-b-16">
            <div class="col-lg-4"><label>Work Experience:</label></div>
            <div class="col-lg-8">
              <ng-container
                *ngIf="
                  applicantDetails?.user?.userProfile?.work_experience_info
                    ?.length;
                  else noWorkExp
                "
              >
                <div
                  *ngFor="
                    let work of applicantDetails.user.userProfile
                      .work_experience_info
                  "
                >
                  <strong>
                    {{ work.work_experience_title }} at
                    {{ work.work_experience_employer }} ({{
                      work.work_experience_from | date : "dd/MM/yyyy"
                    }}
                    -
                    {{
                      work.work_experience_to | date : "dd/MM/yyyy"
                    }}) </strong
                  ><br />
                </div>
              </ng-container>
              <ng-template #noWorkExp>-</ng-template>
            </div>
          </div>

          <div class="row m-b-16">
            <div class="col-lg-4"><label>Highest Education Level:</label></div>
            <div class="col-lg-8">
              <strong>{{
                applicantDetails?.user?.userProfile?.highest_education_level ||
                  "-"
              }}</strong>
            </div>
          </div>

          <hr>
          <div class="row ">
            <div class="col-lg-4">
              <mat-card-title class="m-b-8"> Education: </mat-card-title>
            </div>
          </div>

          <div class="row m-b-16">
            <div class="col-lg-4 p-16">
              <label>Courses:</label>
            </div>
            <div class="col-lg-8">
              <ul class="p-l-16">
                <li
                  *ngFor="
                    let course of applicantDetails.user.userProfile.course_info
                  "
                >
                  <strong>{{ course.course_title }}</strong>
                  ({{ course.course_from | date }} -
                  {{ course.course_to | date }}) -
                  {{ course.course_provider }}
                </li>
              </ul>
              <ng-template #noCourses>-</ng-template>
            </div>
          </div>
          <!-- Certifications Section -->
          <div class="row m-b-16">
            <div class="col-lg-4"><label>Certifications:</label></div>
            <div class="col-lg-8">
              <ul class="p-l-16">
                <li
                  *ngFor="
                    let cert of applicantDetails.user.userProfile
                      .certification_info
                  "
                >
                  <strong>{{ cert.certification_title }}</strong>
                  ({{ cert.certification_from | date }} -
                  {{ cert.certification_to | date }}) -
                  {{ cert.certification_issuer }}
                </li>
              </ul>
              <ng-template #noCertifications>-</ng-template>
            </div>
          </div>

          <!-- <div class="row m-b-16">
            <div class="col-lg-4"><label>Expected Salary:</label></div>
            <div class="col-lg-8">
              <strong>{{
                applicantDetails.user.userProfile?.expected_salary || "-"
              }}</strong>
            </div>
          </div> -->
          <!-- <div class="row m-b-16">
            <div class="col-lg-4"><label>Key Skills:</label></div>
            <div class="col-lg-8">
              <button
                mat-stroked-button
                color="primary"
                class="m-l-4"
                *ngFor="let skill of keySkills"
              >
                {{ skill }}
              </button>
            </div>
          </div> -->
          <!-- <div class="row m-b-16">
            <div class="col-lg-4"><label>Mobile:</label></div>
            <div class="col-lg-8">
              <strong>{{
                applicantDetails.user.userProfile?.mobile || "-"
              }}</strong>
            </div>
          </div> -->
        </mat-card-content>
      </mat-card>

      <!-- Other Experience & Projects -->
      <mat-card class="cardWithShadow">
        <mat-card-content>
          <mat-card-title class="m-b-16">
            Other Experience & Projects
          </mat-card-title>
          <div class="row m-b-16">
            <div class="col-lg-4 p-16"><label>Other Experience:</label></div>
            <div class="col-lg-8">
              <ul class="p-l-16"
                *ngIf="
                  applicantDetails.user.userProfile?.other_experience_info
                    ?.length;
                  else noOtherExperience
                "
              >
                <li
                  *ngFor="
                    let exp of applicantDetails.user.userProfile
                      .other_experience_info
                  "
                >
                  <strong>{{ exp.other_experience_description }}</strong>
                  ({{ exp.other_experience_from | date }} -
                  {{ exp.other_experience_to | date }})
                </li>
              </ul>
              <ng-template #noOtherExperience>
                <strong>-</strong>
              </ng-template>
            </div>
          </div>
          <div class="row m-b-16">
            <div class="col-lg-4 p-16"><label>Projects:</label></div>
            <div class="col-lg-8">
              <ul class="p-l-16"
                *ngIf="
                  applicantDetails.user.userProfile?.project_info?.length;
                  else noProjects
                "
              >
                <li
                  *ngFor="
                    let proj of applicantDetails.user.userProfile.project_info
                  "
                >
                  <strong>{{ proj.project_name }}</strong>
                  ({{ proj.project_from | date }} -
                  {{ proj.project_to | date }}) - Role: {{ proj.project_role }}
                </li>
              </ul>
              <ng-template #noProjects>
                <strong>-</strong>
              </ng-template>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

      <!-- <mat-card
        class="cardWithShadow"
        *ngIf="applicantDetails.additional_info || applicantDetails.description"
      >
        <mat-card-content>
          <mat-card-title class="m-b-16">
            Additional Information
          </mat-card-title>
          <div class="row m-b-16" *ngIf="applicantDetails.description">
            <div class="col-lg-4"><label>Description</label></div>
            <div class="col-lg-8">
              <strong>{{
                applicantDetails.user.userProfile?.current_company || "-"
              }}</strong>
            </div>
          </div>
          <div class="row m-b-16" *ngIf="applicantDetails.additional_info">
            <div class="col-lg-4"><label>Additional Info:</label></div>
            <div class="col-lg-8">
              <strong>{{ applicantDetails.additional_info || "-" }}</strong>
            </div>
          </div>
        </mat-card-content>
      </mat-card> -->

      <!-- Additional Information -->
      <mat-card class="cardWithShadow">
        <mat-card-content>
          <mat-card-title class="m-b-16">
            Additional Information
          </mat-card-title>
          <!-- <div class="row m-b-16" *ngIf="applicantDetails.description">
            <div class="col-lg-4"><label>Description:</label></div>
            <div class="col-lg-8">
              <strong>{{ applicantDetails.description || "-" }}</strong>
            </div>
          </div>
          <div class="row m-b-16" *ngIf="applicantDetails.additional_info">
            <div class="col-lg-4"><label>Additional Info:</label></div>
            <div class="col-lg-8">
              <strong>{{ applicantDetails.additional_info || "-" }}</strong>
            </div>
          </div> -->

          <div class="row m-b-16">
            <div class="col-lg-4"><label>Language Skills - Spoken:</label></div>
            <div class="col-lg-8">
              <strong>
                {{ languageSpokenFormatted }}
              </strong>
            </div>
          </div>

          <div class="row m-b-16">
            <div class="col-lg-4">
              <label>Language Skills - Written:</label>
            </div>
            <div class="col-lg-8">
              <strong>
                {{ languageWrittenFormatted }}
              </strong>
            </div>
          </div>

          <div class="row m-b-16">
            <div class="col-lg-4">
              <label>Notice Period and Availability:</label>
            </div>
            <div class="col-lg-8">
              <strong>
                {{ noticePeriodFormatted }}
              </strong>
            </div>
          </div>

          <div class="row m-b-16">
            <div class="col-lg-4"><label>Current Salary (Annual):</label></div>
            <div class="col-lg-8">
              <strong>
                {{
                  applicantDetails.user?.userProfile?.current_salary_info
                    ? (applicantDetails.user.userProfile.current_salary_info
                        .amount || "-") +
                      " " +
                      (applicantDetails.user.userProfile.current_salary_info
                        .currency || "")
                    : "-"
                }}
              </strong>
            </div>
          </div>

          <div class="row m-b-16">
            <div class="col-lg-4"><label>Expected Salary (Annual):</label></div>
            <div class="col-lg-8">
              <strong>
                {{
                  applicantDetails.user?.userProfile?.expected_salary_info
                    ? (applicantDetails.user.userProfile.expected_salary_info
                        .amount || "-") +
                      " " +
                      (applicantDetails.user.userProfile.expected_salary_info
                        .currency || "")
                    : "-"
                }}
              </strong>
            </div>
          </div>

          <div class="row m-b-16">
            <div class="col-lg-4"><label>Preferences:</label></div>
            <div class="col-lg-8">
              <strong>{{
                formatPreferences(
                  applicantDetails.user?.userProfile?.preferences_info
                )
              }}</strong>
            </div>
          </div>

          <div class="row m-b-16">
            <div class="col-lg-4"><label>Additional Information:</label></div>
            <div class="col-lg-8">
              <strong>
                {{
                  applicantDetails.user?.userProfile?.additional_info
                    ?.additional_info || "-"
                }}
              </strong>
            </div>
          </div>

          <div class="row m-b-16">
            <div class="col-lg-4">
              <label>How did you come to know about this vacancy?:</label>
            </div>
            <div class="col-lg-8">
              <strong>
                {{
                  applicantDetails.user?.userProfile?.vacancy_source_info
                    ?.vacancy_source || "-"
                }}
              </strong>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-lg-4">
      <mat-card *ngIf="certifications.length > 0">
        <mat-card-content>
          <mat-card-title class="m-b-16">
            Courses & Certifications
          </mat-card-title>
          <div class="certification-item" *ngFor="let cert of certifications">
            <h4 class="m-b-0">{{ cert.organization_name }}</h4>
            <p
              *ngIf="
                cert.certification_description ||
                cert.certification_description === null
              "
            >
              <strong>Description:</strong>
              {{ cert.certification_description || "Not Available" }}
            </p>
            <a
              *ngIf="cert.certification_file"
              [href]="cert.certification_file"
              target="_blank"
              mat-button
            >
              View Certificate
            </a>
          </div>
        </mat-card-content>
      </mat-card>

       <mat-card>
        <img
              mat-card-image
              [src]="applicantDetails?.user.userProfile?.profile_image_path"
              alt="Job Image"
              height="250"
              width="390"
              style="object-fit: contain;"
            />
      </mat-card>

      <mat-card>
        <mat-card-content>
          <mat-card-title class="m-b-16"> Documents </mat-card-title>
          <div
            class="d-flex align-items-center justify-content-between gap-6"
            *ngIf="applicantDetails.user.userProfile?.cv_path"
          >
            <div class="">
              <h4 class="m-b-0">CV/Resume</h4>
              <h5 class="m-b-0 m-t-0">
                {{
                  extractFileName(applicantDetails.user.userProfile?.cv_path)
                }}
              </h5>
            </div>

            <a
              style="white-space: nowrap"
              mat-flat-button
              [href]="applicantDetails.cv_path"
              target="_blank"
            >
              Download CV
            </a>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-content>
          <mat-card-title class="m-b-16"> Admin Comment </mat-card-title>
          <mat-form-field appearance="outline" class="w-100">
            <textarea
              [(ngModel)]="adminComments"
              rows="5"
              matInput
              placeholder="Add your comments here..."
            ></textarea>
          </mat-form-field>
          <button
            mat-flat-button
            class="w-100"
            (click)="updateStatus()"
            color="primary"
          >
            Save
          </button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
