<div class="form-container">
  <form [formGroup]="userDetailsForm">

    <!-- Work work_experiences -->
    <div>
      <h2>Work experiences</h2>
      <label for="workExperiences">Years/Roles:</label>
      <input id="workExperiences" type="text" formControlName="work_experiences" required />
    </div>
    <div>
      <label for="comment">Comments:</label>
      <textarea id="comment" formControlName="comments"></textarea>
    </div>
    <div>
    
      <label for="descriptions">Description:</label>
      <textarea id="descriptions" formControlName="description"></textarea>
    </div>
    <!-- Additional Information -->
    <div>
      <!-- <h2>Additional Information</h2> -->
      <label for="additional_info">Additional Information:</label>
      <textarea id="additional_info" formControlName="additional_info"></textarea>
    </div>

    <div>
      <label for="certification_path">Upload Certification:</label>
      <input id="certification_path" type="file" (change)="onFileChange($event, 'certification_path')" accept=".pdf, .doc" />
      <!-- <div *ngIf="userDetailsForm.get('certification_path')?.invalid && userDetailsForm.get('certification_path')?.touched" class="text-danger">
        File Path is required.
      </div> -->
    </div>

    <!-- cv_path Upload -->
    <div>
      <!-- <h2>cv_path Upload</h2>
      <label for="cv_path">Upload:</label>
      <input id="cv_path" type="file" (change)="onFileChange($event, 'file_path')" accept=".pdf, .doc" />
      <div *ngIf="fileError" class="error">{{ fileError }}</div> -->
      
      <div>
        <h2>Cv Upload</h2>
        <label for="cv_path">Upload:</label>
        <input id="cv_path" type="file" (change)="onFileChange($event, 'cv_path')" accept=".pdf, .doc" />
        <div *ngIf="fileError" class="error">{{ fileError }}</div>
      </div>
      <div *ngIf="userDetailsForm.get('cv_path')?.invalid && userDetailsForm.get('cv_path')?.touched" class="text-danger">
        File Path is required.
      </div>
   
    </div>

    <button type="submit" [disabled]="userDetailsForm.invalid || !fileUploaded" (click)="Submit()">Submit</button>
  </form>
</div>
