<div class="blank-layout-container justify-content-center">
  <div class="position-relative row w-100 h-100">
    <div class="col-lg-7 col-xl-8 bg-gredient p-0">
      <div class="p-24 h-100">
        <app-auth-branding></app-auth-branding>

        <div class="align-items-center justify-content-center img-height d-none d-lg-flex">
          <!-- <img
            src="/assets/images/backgrounds/login-bg.png"
            alt="login"
            style="max-width: 500px"
          /> -->
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-xl-4 p-0 bg-white">
      <div class="p-32 d-flex align-items-start align-items-lg-center justify-content-center h-100">
        <div class="row justify-content-center w-100">
          <div class="col-lg-9 max-width-form">
            <div class="d-flex align-items-center justify-content-start gap-4">
              <button mat-icon-button color="primary" (click)="navigate()">
                <mat-icon>arrow_back</mat-icon>
              </button>
              <h4 class="f-w-700 f-s-24 m-0">Forgot Password</h4>

            </div>
            <span class="highlight-message f-s-14 d-block mat-body-1 m-t-8">Please enter your email address to receive a
              password reset link.</span>

            <form class="m-t-30" [formGroup]="form" (ngSubmit)="submit()">
              <mat-form-field appearance="outline" class="w-100 m-b-20" color="primary">
                <mat-label >Email</mat-label>
                <input matInput formControlName="email" type="email" placeholder="Enter your email" />
                <mat-error  *ngIf="form.get('email')?.hasError('required')">
                  <!-- <div class="text-error" *ngIf="f['email'].errors && f['email'].errors['required']"> -->
                  Email is required.
                  <!-- </div> -->
                </mat-error>
                <mat-error  *ngIf="f['email'].errors && f['email'].errors['email']">
                  Please enter a valid email.
                </mat-error>
              </mat-form-field>

              <button mat-flat-button color="primary" class="w-100" [disabled]="!form.valid || isLoading" type="submit">
                <div class="d-flex align-items-center justify-content-center">
                  <mat-spinner *ngIf="isLoading" [diameter]="20" class="m-r-8"></mat-spinner>
                  <span>Reset Password</span>
                </div>
              </button>
            </form>
            <span class="d-block f-w-500 d-block m-t-24">Remember your password?
              <a [routerLink]="['/authentication/login']" class="text-decoration-none text-primary f-w-500 f-s-14">
                Sign In</a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="loading-overlay" *ngIf="isLoading">
  <div class="text-center">
    <mat-spinner [diameter]="50"></mat-spinner>
    <div class="loading-text">Please wait...</div>
  </div>
</div>
