.upload-box {
    border: 2px dashed #5a5d72; /* हल्का नीला ग्रे जैसा */
    border-radius: 8px;
    padding: 60px 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    color: #2f3a58;
    font-size: 16px;
    cursor: pointer;
    width: 350px;
  }
  