<!-- Filters -->
<mat-card class="cardWithShadow">
  <mat-card-content>
    <div class="row justify-content-between align-items-center">
      <div class="col-xl-4 col-lg-4 col-md-12">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Search Job</mat-label>

          <input
            matInput
            placeholder="Search Job"
            [(ngModel)]="searchQuery"
            (keyup.enter)="onSearch()"
          />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
      <div class="col-xl-8 col-lg-8 col-md-12">
        <div class="row align-items-center justify-content-end">
          <div class="col-xl-1 col-lg-1 col-md-12">
            <h4 class="mb-20">Filters</h4>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>All Job Types</mat-label>
              <mat-select
                [(ngModel)]="filters.job_type"
                (selectionChange)="onJobTypeChange($event.value)"
              >
                <mat-option value="full-time">Full-Time</mat-option>
                <mat-option value="part-time">Part-Time</mat-option>
                <mat-option value="flexible">Contract</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Date Range</mat-label>
              <mat-date-range-input [rangePicker]="picker">
                <input
                  matStartDate
                  [(ngModel)]="filters.dateRange.start"
                  name="startDate"
                  placeholder="From date"
                  (ngModelChange)="onDateRangeChange()"
                />
                <input
                  matEndDate
                  [(ngModel)]="filters.dateRange.end"
                  name="endDate"
                  placeholder="To date"
                  (ngModelChange)="onDateRangeChange()"
                />
              </mat-date-range-input>
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
          </div>

          <div class="col-xl-1 col-lg-2 col-md-3">
            <button
              mat-button
              color="primary"
              class="mb-20"
              (click)="clearFilters()"
            >
              Clear
            </button>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="cardWithShadow">
  <mat-card-content>
    <div class="table-responsive">
      <table mat-table [dataSource]="jobPostingList" class="w-100">
        <!-- <ng-container matColumnDef="#">
            <th mat-header-cell *matHeaderCellDef>#</th>
            <td mat-cell *matCellDef="let element">{{ element.id }}</td>
          </ng-container> -->

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Job Name</th>
          <td mat-cell *matCellDef="let element">
            <div class="d-flex align-items-center">
              <div class="">
                <p>{{ element.title }}</p>
                <!-- <small class="f-s-14">{{ element.rank }}</small> -->
              </div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="employer">
          <th mat-header-cell *matHeaderCellDef>Employer</th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.employer }}
          </td>
        </ng-container>

        <ng-container matColumnDef="jobType">
          <th mat-header-cell *matHeaderCellDef>Job Type</th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.job_type }}
          </td>
        </ng-container>

        <ng-container matColumnDef="publishedDate">
          <th mat-header-cell *matHeaderCellDef>Published Date</th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.date_published | date : "shortDate" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="deadline">
          <th mat-header-cell *matHeaderCellDef>Deadline</th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.deadline | date : "shortDate" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="startSalary">
          <th mat-header-cell *matHeaderCellDef>Start Salary</th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.start_salary }}
          </td>
        </ng-container>
        <ng-container matColumnDef="endSalary">
          <th mat-header-cell *matHeaderCellDef>End Salary</th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.end_salary }}
          </td>
        </ng-container>

        <ng-container matColumnDef="city">
          <th mat-header-cell *matHeaderCellDef>country</th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.country_code }}
          </td>
        </ng-container>
        <ng-container matColumnDef="jobPost">
          <th mat-header-cell *matHeaderCellDef>JobPost</th>
          <td mat-cell *matCellDef="let element">
            <span
              class="status rounded-pill f-w-500 p-x-10 p-y-2 f-s-12 ng-star-inserted bg-light-secondary text-secondary"
            >
              {{ element.job_opening }}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef>Action</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <a mat-menu-item (click)="viewJob(element.id)">
                <!-- <mat-icon>visibility</mat-icon> -->
                <span>View Details</span>
              </a>
              <button mat-menu-item (click)="applyNow(element.id)">
                <!-- <mat-icon>abacus-off</mat-icon> -->
                <span>Apply Now</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td
            class="mat-cell text-center"
            [attr.colspan]="displayedColumns.length"
          >
            <div class="no-records-message">
              <span class="text-danger ms-2">No records found</span>
            </div>
          </td>
        </tr>
      </table>
      <mat-paginator
        [length]="total"
        [pageSize]="pageConfig.perPage"
        [pageIndex]="pageConfig.curPage - 1"
        [pageSizeOptions]="[5, 10, 20, 50, 100]"
        [showFirstLastButtons]="true"
        (page)="onPageChange($event)"
        aria-label="Select page"
      >
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
