<div class="job-list">
  <h1>Job Postings</h1>

   <!-- Filters Section -->
   <div class="filters">
    <input
      type="text"
      [(ngModel)]="filters.all"
      (keyup.enter)="onSearch()"
      placeholder="Search"
      class="search-input"
    />
    <button type="button" class="btn btn-primary" (click)="onSearch()">
      Search
    </button>
    <button type="button" class="btn btn-secondary ms-2" (click)="clearSearch()">
      Clear
    </button>

    <!-- <select [(ngModel)]="selectedJobType" class="filter-select">
      <option value="">All Job Types</option>
      <option *ngFor="let type of jobTypes" [value]="type">{{ type }}</option>
    </select> -->

    <!-- <select [(ngModel)]="selectedWorkType" class="filter-select">
      <option value="">All Work Types</option>
      <option *ngFor="let work of workTypes" [value]="work">{{ work }}</option>
    </select> -->

    <!-- <select [(ngModel)]="selectedCountry" class="filter-select">
      <option value="">All Countries</option>
      <option *ngFor="let country of countries" [value]="country">{{ country }}</option>
    </select> -->
  </div>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Employer</th>
        <th>Job Type</th>
        <!-- <th>Qualifications</th> -->
        <!-- <th>Skills Required</th> -->
        <th>Published Date</th>
        <th>Deadline</th>
        <th>Start Salary</th>
        <th>End Salary</th>
        <th>Work Type</th>
        <th>Country</th>
        <th>Actions</th>
        <!-- <th>Address</th> -->
        <!-- <th>Assignment Duration</th> -->
        <!-- <th>Featured Image</th> -->
        <!-- <th>Short Description</th> -->
        <!-- <th>Full Description</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let job of jobPostingList">
        <td>{{ job.title }}</td>
        <td>{{ job.employer }}</td>
        <td>{{ job.job_type }}</td>
        <!-- <td>{{ job.qualifications }}</td>
          <td>{{ job.skills_required }}</td> -->
        <td>{{ job.date_published | date: 'shortDate' }}</td>
        <td>{{ job.deadline | date: 'shortDate' }}</td>
        <td>{{ job.start_salary }}</td>
        <td>{{ job.end_salary }}</td>
        <td>{{ job.work_type }}</td>
        <td>{{ job.country_code }}</td>
        <td class="actions">

          <button (click)="editJob(job.id)" class="action-button edit-button">
            <i class="fas fa-edit"></i>
          </button>

          <button (click)="deleteJob(job.id)" class="action-button delete-button">
            <i class="fas fa-trash-alt"></i>
          </button>
        </td>

      </tr>
    </tbody>
  </table>

  <p *ngIf="!jobPostingList.length" class="error">{{ errorMessage || 'No records found' }}</p>
</div>