.full-width {
  width: 100%;
}

.filters-container {
  display: flex;
  /* grid-template-columns: repeat(12, 1fr); */
  gap: 100px;
  align-items: center;
  /* margin-bottom: 16px; */
  align-content: center;
  justify-content: space-between;
  height: 100%;
  padding-top: 18px;
  padding-right: 15px;
  padding-left: 15px;

}

.filter.search-filter {
  width: 30%;
}

.filter_right{
    display: flex;
    gap: 10px;
    align-items: center;

}
.filter {
  width: 146px;
}

.filter .mat-mdc-form-field{
    width: 100%;
}

.status {
  font-weight: 600;
  text-transform: capitalize;
  padding: 4px 8px;
  border-radius: 4px;
  display: inline-block;
}

.status.approved {
  color: #388e3c;
  background-color: #c8e6c9;
}

.status.rejected {
  color: #d32f2f;
  background-color: #ffcdd2;
}

.mat-elevation-z4 {
  border-radius: 8px;
}

.mat-paginator {
  margin-top: 20px;
}
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  .loading-text {
    color: white;
    margin-top: 16px;
  }

.no-data-cell {
  text-align: center;
  padding: 2rem !important;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.54);
}

.clear-btn {
  margin-top: 5px;
  height: 45px;
  
  mat-icon {
    margin-right: 8px;
  }
}


.mat-mdc-header-cell{
  font-weight: 600;
}
.profile-img {
  width: 32px;  /* Reduce size */
  height: 32px; /* Keep it square */
  border-radius: 50%; /* Circular shape */
  object-fit: cover; /* Ensure proper scaling */
}

.m-l-12 {
  margin-left: 12px; /* Adjust spacing */
}

