.job-post-link {
  cursor: pointer;
}
.bg-light-success-1 {
    background-color: #2cd07e26 !important;
}

.bg-light-shortlisted{
   background-color: #2cd07e26 !important;
}

.text-success-shortlisted{
 color: #2cd07e !important
}