.full-width {
  width: 100%;
}

.filters-container {
  display: flex;
  gap: 100px;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  height: 100%;
  padding-top: 18px;
  padding-right: 15px;
  padding-left: 15px;
flex-wrap: wrap;
}





.filter.search-filter {
  width: 30%;
}

.filter_right{
    display: flex;
    gap: 10px;
    align-items: center;

}
.filter {
  width: 146px;
}

.filter .mat-mdc-form-field{
    width: 100%;
}

.status {
  font-weight: 600;
  text-transform: capitalize;
  padding: 4px 8px;
  border-radius: 4px;
  display: inline-block;
}

.status.approved {
  color: #388e3c;
  background-color: #c8e6c9;
}

.status.rejected {
  color: #d32f2f;
  background-color: #ffcdd2;
}

.mat-elevation-z4 {
  border-radius: 8px;
}

.mat-paginator {
  margin-top: 20px;
}
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  .loading-text {
    color: white;
    margin-top: 16px;
  }

.no-data-cell {
  text-align: center;
  padding: 2rem !important;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.54);
}

.clear-btn {
  margin-top: 5px;
  height: 45px;
  
  mat-icon {
    margin-right: 8px;
  }
}


.mat-mdc-header-cell{
  font-weight: 600;
}
.profile-img {
  width: 40px; 
  height: 40px; 
  border-radius: 80%; 
  object-fit: cover; 
}


.m-l-12 {
  margin-left: 12px; 
}
.job-post-link {
  cursor: pointer;
  text-decoration: none; 
}

.job-post-link {
  text-decoration: underline; 
}

@media screen and (max-width: 1200px) {
  .filters-container{
    gap: 0px;
  }
}
@media screen and (max-width: 768.98px){
  .filters-container{
    flex-direction: column;
  }
  .filter.search-filter {
    width: 100%;
}
.filter_right {
  gap: 25px;
}
}

@media screen and (max-width: 754.98px){
  .filter_right {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    padding: 10px;
    gap: 0px;
}
.filter_right .filter{
  width: 100%;
}
}
.bg-light-danger {
  background-color: #f8d7da; 
}

.text-danger {
  color: #dc3545; 
}
.bg-purple {
  background-color: #63bbb8; 
}

.text-white {
  color: white;
}

