<div class="header d-flex align-items-center m-b-10">
  <button (click)="goBack()" mat-mini-fab class="bg-primary text-white">
    <mat-icon>arrow_back</mat-icon>
  </button>


  <h2 class="m-l-12">Job Details</h2>
</div>

<div class="row d-none">
  <div class="col-lg-6">
    <mat-card class="cardWithShadow">
      <mat-card-header>
        <mat-card-title class="d-flex align-items-center gap-6">
          Personal Information
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div class="row m-b-16">
          <div class="col-lg-4"><label>Employer Name:</label></div>
          <div class="col-lg-8">
            <strong>{{ jobDetails?.title }} </strong>
          </div>
        </div>
        <div class="row m-b-16">
          <div class="col-lg-4"><label>Rank:</label></div>
          <div class="col-lg-8">
            <strong>{{ jobDetails?.rank }} </strong>
          </div>
        </div>

        <div class="row m-b-16">
          <div class="col-lg-4"><label>Employer:</label></div>
          <div class="col-lg-8">
            <strong>{{ jobDetails?.employer }}</strong>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-lg-6">
    <mat-card class="cardWithShadow">
      <mat-card-header>
        <mat-card-title class="d-flex align-items-center gap-6">
          Professional Details
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div class="row m-b-16">
          <div class="col-lg-4"><label>Job Type:</label></div>
          <div class="col-lg-8">
            <strong>{{ jobDetails?.job_type }}</strong>
          </div>
        </div>
        <div class="row m-b-16">
          <div class="col-lg-4"><label>Start Salary:</label></div>
          <div class="col-lg-8">
            <strong>{{ jobDetails?.start_salary }}</strong>
          </div>
        </div>
        <div class="row m-b-16">
          <div class="col-lg-4"><label>End Salary:</label></div>
          <div class="col-lg-8">
            <strong>{{ jobDetails?.end_salary }}</strong>
          </div>
        </div>
        <div class="row m-b-16">
          <div class="col-lg-4"><label>Job Post:</label></div>
          <div class="col-lg-8">
            <strong>{{ jobDetails?.jobpost_status }}</strong>
          </div>
        </div>
        <div class="row m-b-16">
          <div class="col-lg-4"><label>Country:</label></div>
          <div class="col-lg-8">
            <strong>{{ jobDetails?.country_code }}</strong>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-12">


  </div>
  <!--
  <ngx-spinner
    bdColor="rgba(0, 0, 0, 0.8)"
    size="medium"
    color="#fff"
    type="ball-clip-rotate"
    [fullScreen]="true">
    <p style="color: white">Loading...</p>
  </ngx-spinner> -->
</div>

<div class="row">
  <div class="col-lg-8">
    <mat-card>
      <mat-card-content>
        <div class="row w-100 justify-content-between align-items-center">
          <div class="col-lg-12">
            <h2 class="m-b-0">{{jobDetails?.title}}</h2>
            <p class="m-t-6 m-b-0">{{jobDetails?.employer}}</p>
            <p class="m-t-4 m-b-0 d-flex gap-2 align-items-center"> <i-tabler name="map-pin"
                class="icon-18 caption-icon"></i-tabler> {{jobDetails?.address}}
            </p>
          </div>

        </div>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <div class="row ">
          <div class="col-lg-12 m-b-10">
            <div class="row m-b-20">
              <div class="col-lg-3"><strong>Assignment</strong> </div>
              <div class="col-lg-8">{{jobDetails?.assignment_duration}}</div>
            </div>
            <div class="row m-b-20">
              <div class="col-lg-3"><strong>Short Description</strong> </div>
              <div class="col-lg-8">{{jobDetails?.short_description}}</div>
            </div>
            <div class="row m-b-20">
              <div class="col-lg-3"><strong>Full Description</strong></div>
              <div class="col-lg-8"> {{jobDetails?.full_description}}</div>
            </div>
            <div class="row m-b-20">
              <div class="col-lg-3"><strong>Required Skills</strong> </div>
              <div class="col-lg-8">
                <div class="d-flex flex-wrap gap-6">
                  <button mat-stroked-button color="primary" *ngFor=" let item of formattedSkills">
                    {{item}}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-lg-4">
    <mat-card>
      <img mat-card-image [src]="jobDetails?.featured_image" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <div class="row ">
          <div class="col-lg-12 m-b-16">
            <strong class="m-r-6">Employment Type:</strong> {{jobDetails?.job_type}}
          </div>
          <div class="col-lg-12 m-b-16">
            <strong class="m-r-6">Salary Range:</strong> ${{jobDetails?.start_salary}} - ${{jobDetails?.end_salary}}
          </div>
          <div class="col-lg-12 m-b-16">
            <strong class="m-r-6">Deadline:</strong> {{jobDetails?.deadline | date:'MMM,dd yyyy'}}
          </div>
          <div class="col-lg-12 m-b-16">
            <strong class="m-r-6">Experience:</strong> {{jobDetails?.employee_experience}}
          </div>
          <div class="col-lg-12 m-b-16">
            <strong class="m-r-6">Position Level:</strong> {{jobDetails?.required_experience}} years
          </div>
          <div class="col-lg-12 m-b-16">
            <strong class="m-r-6">Easy to apply:</strong> <span>Posted on: {{jobDetails?.posted_at | date:'MMM,dd yyyy'}}</span>
          </div>
          <div class="col-lg-12 m-b-16">
            <strong class="m-r-6">Posted on:</strong> <span *ngFor="let item of formattedSocialMedia; let last = last; let i = index">
              {{ item }}<span *ngIf="!last && formattedSocialMedia.length > 1">, </span>
            </span>
          </div>
        </div>
        <div> <button class="w-100" mat-flat-button color="primary">Apply now</button></div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
