<mat-card>

<mat-card>
  <mat-card-header>
    <mat-card-title class="d-flex align-items-center gap-6">
      <button mat-icon-button color="primary" (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      {{ isAdmin() ? "Edit Profile" : "Edit Profile" }}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-stepper orientation="vertical" #stepper>
      <mat-step [stepControl]="form">
        <form class="m-t-24" [formGroup]="form">
          <ng-template matStepLabel>Basic Information</ng-template>
          <div class="row">
            <!-- Profile Image -->
            <div class="col-lg-4">
              <!-- <mat-label>Select Profile Image</mat-label> -->
              <!-- <input type="file" class="form-control" /> -->
              <button mat-stroked-button type="button" class="w-100" (click)="fileInput.click()">
                <mat-icon>cloud_upload<span class="text-danger">*</span></mat-icon>
                Profile Image
              </button>
              <input #fileInput type="file" style="display: none"
                (change)="onFileSelected($event, 'profile_image_path')" />
              <div class="img-preview img-close m-t-6" *ngIf="imagePreview">
                <img [src]="imagePreview" alt="Preview" style="width: 100%; height: 200px; object-fit: contain;" />
                <!-- <button type="button" mat-icon-button class="remove-icon" type="button" (click)="removeImage()">
                  <mat-icon>cancel</mat-icon>
                </button> -->
              </div>
            </div>


            <!-- First Name -->
            <div class="col-lg-4">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>First Name</mat-label>
                <input matInput placeholder="Enter first name" formControlName="first_name"
                  (keypress)="restrictNumeric($event)" />
                <mat-error *ngIf="form.get('first_name')?.errors?.['required']">
                  First name is required
                </mat-error>
                <mat-error *ngIf="form.get('first_name')?.errors?.['pattern']">
                  First name can only contain letters and spaces
                </mat-error>
              </mat-form-field>
            </div>

            <!-- Last Name -->
            <div class="col-lg-4">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="last_name" (keypress)="restrictNumeric($event)" />
                <mat-error *ngIf="form.get('last_name')?.errors?.['required']">
                  Last name is required
                </mat-error>
                <mat-error *ngIf="form.get('last_name')?.errors?.['pattern']">
                  Last name can only contain letters, and spaces
                </mat-error>
              </mat-form-field>
            </div>

            <!-- Email -->
            <div class="col-lg-4">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Email Address</mat-label>
                <input matInput type="email" formControlName="email" />
              </mat-form-field>
            </div>

            <!-- Dial Code -->
            <div class="col-lg-4" *ngIf="isApplicant()">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Dial Code</mat-label>
                <mat-select formControlName="dial_code">
                  <mat-option *ngFor="let country of countryList" [value]="country.dial_code">
                    {{ country.name }} ({{ country.dial_code }})
                  </mat-option> </mat-select>
                <mat-error *ngIf="form.get('dial_code')?.errors?.['required']">
                  Dail code is required
                </mat-error>
              </mat-form-field>
            </div>

            <!-- Phone Number -->
            <div class="col-lg-4" *ngIf="isApplicant()">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Phone Number</mat-label>
                <input matInput type="tel" formControlName="mobile" />
                <mat-error *ngIf="form.get('mobile')?.errors?.['required']">
                  Phone number is required
                </mat-error>
              </mat-form-field>
            </div>

            <!-- Date of Birth -->
            <div class="col-lg-4" *ngIf="isApplicant()">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Date of Birth</mat-label>
                <input matInput readonly [matDatepicker]="dobPicker" formControlName="dob" />
                <mat-datepicker-toggle matSuffix [for]="dobPicker"></mat-datepicker-toggle>
                <mat-datepicker #dobPicker></mat-datepicker>
                <mat-error *ngIf="form.get('dob')?.errors?.['required']">
                  Date of birth is required
                </mat-error>
                <mat-error *ngIf="form.get('dob')?.errors?.['tooYoung']">
                  You must be at least 18 years old.
                </mat-error>
                <!-- <mat-error *ngIf="form.get('dob')?.errors?.['invalidDOB']">
                  Invalid Date of Birth format. Please enter in YYYY-MM-DD.
                </mat-error> -->
              </mat-form-field>
            </div>

            <!-- Nationalities -->
            <div class="col-lg-4" *ngIf="isApplicant()">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Nationalities</mat-label>
                <mat-select multiple formControlName="nationalities">
                  <mat-option *ngFor="let country of filteredCountryList()" [value]="country">
                    {{ country }}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="form.get('nationalities')?.errors?.['required']">
                  Nationality is required
                </mat-error>
              </mat-form-field>
            </div>

            <!-- Country of Residence -->
            <div class="col-lg-4" *ngIf="isApplicant()">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Country of Residence</mat-label>
                <mat-select formControlName="country">
                  <mat-option *ngFor="let country of countryList" [value]="country.name">
                    {{ country.name }}
                  </mat-option> </mat-select>
                <mat-error *ngIf="form.get('country')?.errors?.['required']">
                  Country is required
                </mat-error>
              </mat-form-field>
            </div>

            <!-- Location -->
            <div class="col-lg-4" *ngIf="isApplicant()">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Location</mat-label>
                <input matInput placeholder="Start typing an address..." formControlName="location" />
                <mat-error *ngIf="form.get('location')?.errors?.['required']">
                  Location is required
                </mat-error>
              </mat-form-field>
            </div>

            <!-- Additional Contact Info (Repeater UI) -->
            <div class="col-lg-12 mt-4" formArrayName="additional_contact_info" *ngIf="isApplicant()">
              <h4 class="mat-headline-6 m-t-24 m-b-20">Additional Contact Information</h4>
              <!-- Example Row -->
              <div class="row align-items-center" *ngFor="let item of additionalContacts();let i =index"
                [formGroupName]="i">
                <div class="col-lg-4">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Contact Type</mat-label>
                    <mat-select formControlName="contact_type">
                      <mat-option value="Email">Email</mat-option>
                      <mat-option value="LinkedIn">LinkedIn (Profile Link)</mat-option>
                      <mat-option value="Messenger">Messenger</mat-option>
                      <mat-option value="Telephone Number">Telephone Number</mat-option>
                      <mat-option value="Viber">Viber</mat-option>
                      <mat-option value="WhatsApp">WhatsApp</mat-option>
                    </mat-select>
                    <mat-error *ngIf="item.get('contact_type')?.errors?.['required']">
                      Conatct Type is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-lg-6">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Value</mat-label>
                    <input matInput placeholder="Enter value here" formControlName="value" />
                    <mat-error *ngIf="item.get('value')?.errors?.['required']">
                      Value is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-lg-2">
                  <button mat-icon-button color="primary" (click)="addContact()" type="button">
                    <mat-icon>add</mat-icon>
                  </button>
                  <button mat-icon-button color="primary" class="m-b-20" type="button" (click)="removeContact(i)"
                    *ngIf="additionalContacts().length != 1">
                    <mat-icon>remove</mat-icon>
                  </button>
                </div>
              </div>

            </div>

          </div>


          <div class="text-right">
            <button mat-flat-button matStepperNext [disabled]="form.invalid" *ngIf="isApplicant()"
              type="button">Next</button>
            <button mat-flat-button matStepperNext [disabled]="form.invalid" (click)="onSubmit()"
              *ngIf="!isApplicant()">Save</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondForm" *ngIf="isApplicant()" [class.disabled]="true">
        <form class="m-t-24" [formGroup]="secondForm">
          <ng-template matStepLabel>Career</ng-template>
          <div class="row">

            <!-- WORK EXPERIENCE -->
            <div class="col-12 mt-4">
              <h4 class="mat-headline-6 m-t-24 m-b-20">Work Experience</h4>
            </div>

            <ng-container formArrayName="work_experience_info">
              <div *ngFor="let item of getworkExp(); let i = index" [formGroupName]="i" class="row">

                <div class="col-lg-4">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>From</mat-label>
                    <input matInput readonly [matDatepicker]="weFrom" formControlName="work_experience_from" />
                    <mat-datepicker-toggle matSuffix [for]="weFrom"></mat-datepicker-toggle>
                    <mat-datepicker #weFrom></mat-datepicker>
                    <mat-error
                      *ngIf="item.get('work_experience_from')?.hasError('required') && (item.get('work_experience_from')?.touched || item.get('work_experience_from')?.dirty)">
                      From Date is required
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-lg-4">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>To</mat-label>
                    <input matInput readonly [matDatepicker]="weTo" formControlName="work_experience_to" />
                    <mat-datepicker-toggle matSuffix [for]="weTo"></mat-datepicker-toggle>
                    <mat-datepicker #weTo></mat-datepicker>
                    <mat-error
                      *ngIf="item.get('work_experience_to')?.hasError('required') && (item.get('work_experience_to')?.touched || item.get('work_experience_to')?.dirty)">
                      To Date is required
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-lg-4">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Title</mat-label>
                    <input matInput formControlName="work_experience_title" />
                    <mat-error
                      *ngIf="item.get('work_experience_title')?.hasError('required') && (item.get('work_experience_title')?.touched || item.get('work_experience_title')?.dirty)">
                      Title is required
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-lg-4">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Employer</mat-label>
                    <input matInput formControlName="work_experience_employer" />
                    <mat-error
                      *ngIf="item.get('work_experience_employer')?.hasError('required') && (item.get('work_experience_employer')?.touched || item.get('work_experience_employer')?.dirty)">
                      Employer is required
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-lg-2 text-end">
                  <button mat-icon-button color="primary" (click)="addWorkExp()" type="button">
                    <mat-icon>add</mat-icon>
                  </button>
                  <button mat-icon-button color="primary" class="m-b-20" *ngIf="getworkExp().length != 1" type="button"
                    (click)="removeWorkExp(i)">
                    <mat-icon>remove</mat-icon>
                  </button>
                </div>

              </div>
            </ng-container>

            <!-- HIGHEST EDUCATION LEVEL -->
            <div class="col-12 mt-4">
              <h4 class="mat-headline-6 m-t-24 m-b-20">Highest Education Level</h4>

            </div>
            <div class="col-lg-4">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Highest Education Level</mat-label>
                <mat-select formControlName="highest_education_level">
                  <mat-option value="High School">High School</mat-option>
                  <mat-option value="Graduate">Graduate</mat-option>
                  <mat-option value="Post Graduate/Master">Post Graduate/Master</mat-option>
                  <mat-option value="PhD">PhD</mat-option>
                  <mat-option value="Other">Other</mat-option>
                </mat-select>
                <mat-error
                  *ngIf="secondForm.get('highest_education_level')?.hasError('required') && (secondForm.get('highest_education_level')?.touched || secondForm.get('highest_education_level')?.dirty)">
                  From Date is required
                </mat-error>
              </mat-form-field>
            </div>

            <!-- EDUCATION -->
            <div class="col-12 mt-4">
              <h4 class="mat-headline-6 m-t-24 m-b-20">Education</h4>
            </div>

            <ng-container formArrayName="education_info">
              <div *ngFor="let item of getEducation(); let i = index" [formGroupName]="i" class="row">

                <div class="col-lg-4">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>From</mat-label>
                    <input matInput formControlName="education_from" readonly [matDatepicker]="eduFrom" />
                    <mat-datepicker-toggle matSuffix [for]="eduFrom"></mat-datepicker-toggle>
                    <mat-datepicker #eduFrom></mat-datepicker>
                    <mat-error
                      *ngIf="item.get('education_from')?.hasError('required') && (item.get('education_from')?.touched || item.get('education_from')?.dirty)">
                      From Date is required
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-lg-4">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>To</mat-label>
                    <input matInput formControlName="education_to" readonly [matDatepicker]="eduTo" />
                    <mat-datepicker-toggle matSuffix [for]="eduTo"></mat-datepicker-toggle>
                    <mat-datepicker #eduTo></mat-datepicker>
                    <mat-error
                      *ngIf="item.get('education_to')?.hasError('required') && (item.get('education_to')?.touched || item.get('education_to')?.dirty)">
                      To Date is required
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-lg-4">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Title</mat-label>
                    <input matInput placeholder="Degree or Program" formControlName="education_title" />
                    <mat-error
                      *ngIf="item.get('education_title')?.hasError('required') && (item.get('education_title')?.touched || item.get('education_title')?.dirty)">
                      Title is required
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-lg-4">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Institute</mat-label>
                    <input matInput placeholder="University or College" formControlName="education_institute" />
                    <mat-error
                      *ngIf="item.get('education_institute')?.hasError('required') && (item.get('education_institute')?.touched || item.get('education_institute')?.dirty)">
                      Institute is required
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-lg-2 text-end">
                  <button mat-icon-button color="primary" (click)="addEducation()" type="button">
                    <mat-icon>add</mat-icon>
                  </button>
                  <button mat-icon-button color="primary" class="m-b-20" *ngIf="getEducation().length != 1"
                    type="button" (click)="removeEducation(i)">
                    <mat-icon>remove</mat-icon>
                  </button>
                </div>

              </div>
            </ng-container>

            <!-- COURSES -->
            <div class="col-12 mt-4">
              <h4 class="mat-headline-6 m-t-24 m-b-20">Courses</h4>
            </div>

            <ng-container formArrayName="course_info">
              <div *ngFor="let item of getCourse(); let i = index" [formGroupName]="i" class="row">

                <div class="col-lg-4">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>From</mat-label>
                    <input matInput formControlName="course_from" readonly [matDatepicker]="courseFrom" />
                    <mat-datepicker-toggle matSuffix [for]="courseFrom"></mat-datepicker-toggle>
                    <mat-datepicker #courseFrom></mat-datepicker>
                    <mat-error
                      *ngIf="item.get('course_from')?.hasError('required') && (item.get('course_from')?.touched || item.get('course_from')?.dirty)">
                      From Date is required
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-lg-4">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>To</mat-label>
                    <input matInput formControlName="course_to" readonly [matDatepicker]="courseTo" />
                    <mat-datepicker-toggle matSuffix [for]="courseTo"></mat-datepicker-toggle>
                    <mat-datepicker #courseTo></mat-datepicker>
                    <mat-error
                      *ngIf="item.get('course_to')?.hasError('required') && (item.get('course_to')?.touched || item.get('course_to')?.dirty)">
                      To Date is required
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-lg-4">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Course Title</mat-label>
                    <input matInput placeholder="Course Name" formControlName="course_title" />
                    <mat-error
                      *ngIf="item.get('course_title')?.hasError('required') && (item.get('course_title')?.touched || item.get('course_title')?.dirty)">
                      Course Title is required
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-lg-4">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Course Provider</mat-label>
                    <input matInput placeholder="Provider/Institution" formControlName="course_provider" />
                    <mat-error
                      *ngIf="item.get('course_provider')?.hasError('required') && (item.get('course_provider')?.touched || item.get('course_provider')?.dirty)">
                      Course Provider is required
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-lg-2 text-end">
                  <button mat-icon-button color="primary" (click)="addCourse()" type="button">
                    <mat-icon>add</mat-icon>
                  </button>
                  <button mat-icon-button color="primary" class="m-b-20" *ngIf="getCourse().length != 1" type="button"
                    (click)="removeCourse(i)">
                    <mat-icon>remove</mat-icon>
                  </button>
                </div>

              </div>
            </ng-container>


            <!-- CERTIFICATIONS -->
            <div class="col-12 mt-4">
              <h4 class="mat-headline-6 m-t-24 m-b-20">Certifications</h4>
            </div>

            <ng-container formArrayName="certification_info">
              <div *ngFor="let item of getCetificate(); let i = index" [formGroupName]="i" class="row">

                <div class="col-lg-4">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>From</mat-label>
                    <input matInput formControlName="certification_from" readonly [matDatepicker]="courseFrom" />
                    <mat-datepicker-toggle matSuffix [for]="courseFrom"></mat-datepicker-toggle>
                    <mat-datepicker #courseFrom></mat-datepicker>
                    <mat-error
                      *ngIf="item.get('certification_from')?.hasError('required') && (item.get('certification_from')?.touched || item.get('certification_from')?.dirty)">
                      From Date is required
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-lg-4">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>To</mat-label>
                    <input matInput formControlName="certification_to" readonly [matDatepicker]="courseTo" />
                    <mat-datepicker-toggle matSuffix [for]="courseTo"></mat-datepicker-toggle>
                    <mat-datepicker #courseTo></mat-datepicker>
                    <mat-error
                      *ngIf="item.get('certification_to')?.hasError('required') && (item.get('certification_to')?.touched || item.get('certification_to')?.dirty)">
                      To Date is required
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-lg-4">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Certification Title</mat-label>
                    <input matInput placeholder="Course Name" formControlName="certification_title" />
                    <mat-error
                      *ngIf="item.get('certification_title')?.hasError('required') && (item.get('certification_title')?.touched || item.get('certification_title')?.dirty)">
                      Certification Title is required
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-lg-4">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Certification Issuer</mat-label>
                    <input matInput placeholder="Provider/Institution" formControlName="certification_issuer" />
                    <mat-error
                      *ngIf="item.get('certification_issuer')?.hasError('required') && (item.get('certification_issuer')?.touched || item.get('certification_issuer')?.dirty)">
                      Certification Issuer is required
                    </mat-error>
                  </mat-form-field>
                </div>

                <div class="col-lg-2 text-end">
                  <button mat-icon-button color="primary" (click)="addCertificate()" type="button">
                    <mat-icon>add</mat-icon>
                  </button>
                  <button mat-icon-button color="primary" class="m-b-20" *ngIf="getCetificate().length !== 1"
                    type="button" (click)="removeCertificate(i)">
                    <mat-icon>remove</mat-icon>
                  </button>
                </div>

              </div>
            </ng-container>


            <!-- CV Upload -->
            <div class="col-12 mt-4">
              <h4 class="mat-headline-6 m-t-24 m-b-20">Upload CV (Resume)</h4>
            </div>
            <div class="col-lg-6 m-b-10">
              <!-- <mat-label>Select your CV (PDF Only)</mat-label>
          <input type="file" class="form-control" accept=".pdf" /> -->
              <button mat-stroked-button type="button" (click)="fileInputs.click()">
                <mat-icon>cloud_upload<span class="text-danger">*</span></mat-icon>
                Select your CV (PDF Only)
              </button>
              <input type="file" id="fileInput" (change)="onFileChange($event, 'cv_path')" accept=".pdf" hidden
                #fileInputs />
              <div *ngIf="fileError" class="error">{{ fileError }}</div>
            </div>
            <div class="col-lg-12 m-b-20" *ngIf="uploadedFileName">
              <div class="m-b-16">
                <h5>Upload CV:</h5>
                <div class="d-flex align-items-center gap-6">
                  {{ uploadedFileName }}
                  <!-- <button (click)="deleteFile('cv_path', $event)" mat-mini-fab class="bg-error text-white custom-btn">
                    <i-tabler name="x" class="close-icon" style="width: 14px; height: 14px"></i-tabler>
                  </button> -->
                </div>
              </div>

            </div>
          </div>

          <div class="d-flex align-items-center justify-content-between">
            <button mat-flat-button class="bg-error text-white" matStepperPrevious>
              Back
            </button>
            <button mat-flat-button matStepperNext [disabled]="secondForm.invalid">Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="thirdForm" *ngIf="isApplicant()">
        <form class="m-t-24" [formGroup]="thirdForm">
          <ng-template matStepLabel>Other Experience & Projects</ng-template>

          <!-- Other Experience Section -->
          <div formArrayName="other_experience_info">
            <h4 class="mat-headline-6 m-t-24 m-b-20">Other Experience</h4>
            <div class="row" *ngFor="let item of getOtherExp(); let i = index" [formGroupName]="i">

              <div class="col-lg-4">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>From</mat-label>
                  <input matInput readonly [matDatepicker]="otherFromPicker" formControlName="other_experience_from" />
                  <mat-datepicker-toggle matSuffix [for]="otherFromPicker"></mat-datepicker-toggle>
                  <mat-datepicker #otherFromPicker></mat-datepicker>
                  <mat-error
                    *ngIf="item.get('other_experience_from')?.hasError('required') && (item.get('other_experience_from')?.touched || item.get('other_experience_from')?.dirty)">
                    From Date is required
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-lg-4">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>To (leave blank if current)</mat-label>
                  <input matInput readonly [matDatepicker]="otherToPicker" formControlName="other_experience_to" />
                  <mat-datepicker-toggle matSuffix [for]="otherToPicker"></mat-datepicker-toggle>
                  <mat-datepicker #otherToPicker></mat-datepicker>
                  <mat-error
                    *ngIf="item.get('other_experience_to')?.hasError('required') && (item.get('other_experience_to')?.touched || item.get('other_experience_to')?.dirty)">
                    To Date is required
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-lg-4">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Description</mat-label>
                  <textarea matInput rows="3" formControlName="other_experience_description"></textarea>
                  <mat-error
                    *ngIf="item.get('other_experience_description')?.hasError('required') && (item.get('other_experience_description')?.touched || item.get('other_experience_description')?.dirty)">
                    Description is required
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-lg-2 text-end">
                <button mat-icon-button color="primary" (click)="addOtherExp()" type="button">
                  <mat-icon>add</mat-icon>
                </button>
                <button mat-icon-button color="primary" class="m-b-20" *ngIf="getOtherExp().length != 1" type="button"
                  (click)="removeOtherExp(i)">
                  <mat-icon>remove</mat-icon>
                </button>
              </div>

            </div>
          </div>

          <hr />

          <!-- Projects Section -->
          <h4 class="mat-headline-6 m-t-24 m-b-20">Projects</h4>
          <div formArrayName="project_info">
            <div class="row" *ngFor="let item of getProjects(); let i = index" [formGroupName]="i">

              <div class="col-lg-4">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>From</mat-label>
                  <input matInput readonly [matDatepicker]="projFromPicker" formControlName="project_from" />
                  <mat-datepicker-toggle matSuffix [for]="projFromPicker"></mat-datepicker-toggle>
                  <mat-datepicker #projFromPicker></mat-datepicker>
                  <mat-error
                    *ngIf="item.get('project_from')?.hasError('required') && (item.get('project_from')?.touched || item.get('project_from')?.dirty)">
                    From Date is required
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-lg-4">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>To (leave blank if current)</mat-label>
                  <input matInput readonly [matDatepicker]="projToPicker" formControlName="project_to" />
                  <mat-datepicker-toggle matSuffix [for]="projToPicker"></mat-datepicker-toggle>
                  <mat-datepicker #projToPicker></mat-datepicker>
                  <mat-error
                    *ngIf="item.get('project_to')?.hasError('required') && (item.get('project_to')?.touched || item.get('project_to')?.dirty)">
                    To Date is required
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-lg-4">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Project Name</mat-label>
                  <input matInput formControlName="project_name" />
                  <mat-error
                    *ngIf="item.get('project_name')?.hasError('required') && (item.get('project_name')?.touched || item.get('project_name')?.dirty)">
                    Project Name is required
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-lg-4">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Project Role</mat-label>
                  <input matInput formControlName="project_role" />
                  <mat-error
                    *ngIf="item.get('project_role')?.hasError('required') && (item.get('project_role')?.touched || item.get('project_role')?.dirty)">
                    Project Role is required
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-lg-2 text-end">
                <button mat-icon-button color="primary" (click)="addProjects()" type="button">
                  <mat-icon>add</mat-icon>
                </button>
                <button mat-icon-button color="primary" class="m-b-20" *ngIf="getProjects().length != 1" type="button"
                  (click)="removeProjects(i)">
                  <mat-icon>remove</mat-icon>
                </button>
              </div>

            </div>
          </div>

          <div class="d-flex align-items-center justify-content-between">
            <button mat-flat-button class="bg-error text-white" matStepperPrevious>
              Back
            </button>
            <button mat-flat-button matStepperNext [disabled]="thirdForm.invalid">Next</button>
          </div>
        </form>

      </mat-step>
      <mat-step [stepControl]="fourthForm" label="Additional Information" *ngIf="isApplicant()">
        <form [formGroup]="fourthForm">

          <!-- Language Skills - Spoken -->
          <h4 class="mat-headline-6 m-t-24 m-b-20">Language Skills - Spoken</h4>
          <div formArrayName="language_spoken_info">
            <div *ngFor="let langGroup of getlanguageSpoken(); let i = index" [formGroupName]="i" class="row">
              <div class="col-lg-4">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Language</mat-label>
                  <mat-select formControlName="language">
                    <mat-option *ngFor="let lang of languageList" [value]="lang.name">{{ lang.name }}</mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="langGroup.get('language')?.hasError('required') && (langGroup.get('language')?.touched || langGroup.get('language')?.dirty)">
                    Language is required
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-lg-4">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Proficiency</mat-label>
                  <mat-select formControlName="proficiency">
                    <mat-option *ngFor="let prof of proficiencyOptions" [value]="prof">{{ prof }}</mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="langGroup.get('proficiency')?.hasError('required') && (langGroup.get('proficiency')?.touched || langGroup.get('proficiency')?.dirty)">
                    Proficiency is required
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-lg-2 text-end">
                <button mat-icon-button color="primary" (click)="addLangSpoken()" type="button">
                  <mat-icon>add</mat-icon>
                </button>
                <button mat-icon-button color="primary" class="m-b-20" *ngIf="getlanguageSpoken().length != 1"
                  type="button" (click)="removeLangSpoken(i)">
                  <mat-icon>remove</mat-icon>
                </button>
              </div>
            </div>
          </div>

          <!-- Language Skills - Written -->
          <h4 class="mat-headline-6 m-t-24 m-b-20">Language Skills - Written</h4>
          <div formArrayName="language_written_info">
            <div *ngFor="let langGroup of getlanguageWritten(); let i = index" [formGroupName]="i" class="row">
              <div class="col-lg-4">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Language</mat-label>
                  <mat-select formControlName="language">
                    <mat-option *ngFor="let lang of languageList" [value]="lang.name">{{ lang.name }}</mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="langGroup.get('language')?.hasError('required') && (langGroup.get('language')?.touched || langGroup.get('language')?.dirty)">
                    Language is required
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-lg-4">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Proficiency</mat-label>
                  <mat-select formControlName="proficiency">
                    <mat-option *ngFor="let prof of proficiencyOptions" [value]="prof">{{ prof }}</mat-option>
                  </mat-select>
                  <mat-error
                    *ngIf="langGroup.get('proficiency')?.hasError('required') && (langGroup.get('proficiency')?.touched || langGroup.get('proficiency')?.dirty)">
                    Proficiency is required
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-lg-2 text-end">
                <button mat-icon-button color="primary" (click)="addLangWritten()" type="button">
                  <mat-icon>add</mat-icon>
                </button>
                <button mat-icon-button color="primary" class="m-b-20" *ngIf="getlanguageWritten().length != 1"
                  type="button" (click)="removeLangWritten(i)">
                  <mat-icon>remove</mat-icon>
                </button>
              </div>
            </div>
          </div>

          <!-- Notice Period and Availability -->
          <h4 class="mat-headline-6 m-t-24 m-b-20">Notice Period and Availability</h4>
          <div formGroupName="notice_period_info" class="row">
            <div class="col-lg-4">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Notice Period (months)</mat-label>
                <input matInput type="number" formControlName="notice_period_months" min="0" />
                <mat-error
                  *ngIf="fourthForm.get('notice_period_info.notice_period_months')?.hasError('required') && (fourthForm.get('notice_period_info.notice_period_months')?.touched || fourthForm.get('notice_period_info.notice_period_months')?.dirty)">
                  Notice Period is required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-lg-4">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Date available to commence work</mat-label>
                <input matInput readonly [matDatepicker]="availDatePicker" formControlName="commence_work_date" />
                <mat-datepicker-toggle matSuffix [for]="availDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #availDatePicker></mat-datepicker>
                <mat-error
                  *ngIf="fourthForm.get('notice_period_info.commence_work_date')?.hasError('required') && (fourthForm.get('notice_period_info.commence_work_date')?.touched || fourthForm.get('notice_period_info.commence_work_date')?.dirty)">
                  Commencement Date is required
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <!-- Current Salary (Annual) -->
          <h4 class="mat-headline-6 m-t-24 m-b-20">Current Salary (Annual)</h4>
          <div formGroupName="current_salary_info" class="row">
            <div class="col-lg-4">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Amount</mat-label>
                <input matInput type="text" formControlName="amount" />
                <mat-error
                  *ngIf="fourthForm.get('current_salary_info.amount')?.hasError('required') && (fourthForm.get('current_salary_info.amount')?.touched || fourthForm.get('current_salary_info.amount')?.dirty)">
                  Amount is required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-lg-4">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Currency</mat-label>
                <mat-select formControlName="currency">
                  <mat-option *ngFor="let curr of currencyList" [value]="curr.code">{{ curr.currency }} ({{ curr.code
                    }})</mat-option>
                </mat-select>
                <mat-error
                  *ngIf="fourthForm.get('current_salary_info.currency')?.hasError('required') && (fourthForm.get('current_salary_info.currency')?.touched || fourthForm.get('current_salary_info.currency')?.dirty)">
                  Currency is required
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <!-- Expected Salary (Annual) -->
          <h4 class="mat-headline-6 m-t-24 m-b-20">Expected Salary (Annual)</h4>
          <div formGroupName="expected_salary_info" class="row">
            <div class="col-lg-4">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Amount</mat-label>
                <input matInput type="text" formControlName="amount" />
                <mat-error
                  *ngIf="fourthForm.get('expected_salary_info.amount')?.hasError('required') && (fourthForm.get('expected_salary_info.amount')?.touched || fourthForm.get('expected_salary_info.amount')?.dirty)">
                  Amount is required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-lg-4">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Currency</mat-label>
                <mat-select formControlName="currency">
                  <mat-option *ngFor="let curr of currencyList" [value]="curr.code">{{ curr.currency }} ({{ curr.code
                    }})</mat-option>
                </mat-select>
                <mat-error
                  *ngIf="fourthForm.get('expected_salary_info.currency')?.hasError('required') && (fourthForm.get('expected_salary_info.currency')?.touched || fourthForm.get('expected_salary_info.currency')?.dirty)">
                  Currency is required
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <!-- Preferences -->
          <h4 class="mat-headline-6 m-t-24 m-b-20">Preferences</h4>
          <div formGroupName="preferences_info" class="row">
            <div class="col-lg-4">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Department(s)</mat-label>
                <mat-select formControlName="department" multiple>
                  <mat-option *ngFor="let dept of departmentsList" [value]="dept">{{ dept }}</mat-option>
                </mat-select>
                <mat-error
                  *ngIf="fourthForm.get('preferences_info.department')?.hasError('required') && (fourthForm.get('preferences_info.department')?.touched || fourthForm.get('preferences_info.department')?.dirty)">
                  Department selection is required
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-lg-4">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Location(s)</mat-label>
                <mat-select formControlName="location" multiple>
                  <mat-option *ngFor="let country of countryList" [value]="country.name">
                    {{ country.name }}
                  </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="fourthForm.get('preferences_info.location')?.hasError('required') && (fourthForm.get('preferences_info.location')?.touched || fourthForm.get('preferences_info.location')?.dirty)">
                  Location selection is required
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <!-- Additional Information -->
          <h4 class="mat-headline-6 m-t-24 m-b-20">Additional Information</h4>
          <div formGroupName="additional_info" class="row">
            <div class="col-lg-8">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Any Additional Information</mat-label>
                <textarea matInput rows="4" formControlName="additional_info"></textarea>
                <mat-error
                  *ngIf="fourthForm.get('additional_info.additional_info')?.hasError('required') && (fourthForm.get('additional_info.additional_info')?.touched || fourthForm.get('additional_info.additional_info')?.dirty)">
                  Additional information is required
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <!-- Vacancy Awareness -->
          <h4 class="mat-headline-6 m-t-24 m-b-20">How did you come to know about this vacancy?</h4>
          <div formGroupName="vacancy_source_info" class="row">
            <div class="col-lg-8">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Source</mat-label>
                <mat-select formControlName="vacancy_source">
                  <mat-option *ngFor="let source of vacancySources" [value]="source">{{ source }}</mat-option>
                </mat-select>
                <mat-error
                  *ngIf="fourthForm.get('vacancy_source_info.vacancy_source')?.hasError('required') && (fourthForm.get('vacancy_source_info.vacancy_source')?.touched || fourthForm.get('vacancy_source_info.vacancy_source')?.dirty)">
                  Vacancy source is required
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="d-flex justify-content-between m-t-16">
            <button mat-flat-button class="bg-error text-white" matStepperPrevious>Back</button>
            <button mat-flat-button color="primary" (click)="onSubmit()" [disabled]="fourthForm.invalid">Finish</button>
          </div>
        </form>

      </mat-step>

    </mat-stepper>
  </mat-card-content>
</mat-card>
