<div class="reset-password-container">
    <h2>Reset Your Password</h2>

    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
        <!-- <div class="input-group">
            <label for="email">Email</label>
            <input type="email" id="email" placeholder="Enter your email" required formControlName="email" />
        </div> -->

        <div class="input-group">
            <label for="password">New Password</label>
            <input type="password" id="password" placeholder="Enter your new password" required
                formControlName="password" />
        </div>

        <div class="input-group">
            <label for="passwordConfirm">Confirm Password</label>
            <input type="password" id="passwordConfirm" placeholder="Confirm your new password" required
                formControlName="passwordConfirm" />
        </div>

        <button type="submit" class="submit-btn" [disabled]="isSubmitting">Reset Password</button>
    </form>

    <div *ngIf="showAlert">
        <div *ngIf="alert?.type === 'success'" class="alert-success">
            {{ alert?.message }}
        </div>
        <div *ngIf="alert?.type === 'error'" class="alert-error">
            {{ alert?.message }}
        </div>
    </div>
</div>