
.search-bar {
  background-color: #fff;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
  // box-shadow: 0 4px 10px rgba(0, 0, 0, 0.04);
  flex-wrap: wrap;
}

.filter {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  color: #4a4a4a;
  cursor: pointer;
  width: 180px;
}

.divider {
  width: 1px;
  height: 24px;
  background-color: #ccc;
}

.input-keyword {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #bbb;
  flex: 1;
  min-width: 200px;
}

.input-keyword input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
  color: #333;
  background: transparent;
}



.material-icons-custom {
  color: #a0abb8;
  width: 18px;
  height: 18px;
}

mat-label {
  color: #a0abb8;
}
.mat-drawer-transition .mat-drawer-content {
  background-color: #eef5f9;
}

.bg-primary {
  background-color: #0b7ea5 !important;
}
.no-records-message {
  font-size: 1.25rem;
  color: #666;
  margin-top: 20px;
}
.job-description {
  min-height: 45px;
  display: -webkit-box !important;
  -webkit-line-clamp: 2; /* Limit to 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  /* Optional: to ensure the box doesn't expand beyond the content */
  white-space: normal;
}

// new css

.tags {
  background-color: #d8e1e9;
  color: #000;
  margin-right: 5px;
}
.Job-Image {
  height: 230px;
  object-fit: cover;
}
