<!-- <mat-toolbar class="topbar gap-8">
    <div class="branding d-none d-lg-flex align-items-center justify-content-left">
      <a class="d-flex align-items-center">
        <span class="branding-text f-w-100">
          <img class="logo1" src="./assets/images/logos/Navilands logo - Dark.svg" style="object-fit: contain;" />

        </span>
      </a>
    </div>


  </mat-toolbar> -->

<mat-toolbar color="white" class="nav-toolbar">
  <div class="container header" fxLayout="row" fxLayoutAlign="space-between center">

    <!-- Left: Logo + Hamburger (only on small screens) -->
    <div fxLayout="row" fxLayoutAlign="start center">
      <img src="./assets/images/logos/Navilands logo - Dark.svg" alt="Logo" class="logo" />

    </div>

    <!-- Center: Navigation Links (hidden on small screens) -->
    <div fxLayout="row" fxLayoutAlign="center center" class="nav-links desktop-only">
      <a mat-button>About us</a>
      <a mat-button>Ship Management</a>
      <a mat-button>Crew Management</a>
      <a mat-button>Job Opportunities</a>
      <a mat-button>Contact</a>

    </div>

    <!-- Right: Icons -->
    <div fxLayout="row" fxLayoutAlign="end center" class="icon-buttons">
      <button mat-icon-button class="mobile-menu" (click)="sidenav.toggle()">
        <!-- (click)="sidenav.toggle()" -->
        <mat-icon>menu</mat-icon>
      </button>
      <button mat-icon-button (click)="goToLogin()"><mat-icon>person</mat-icon></button>
      <button mat-icon-button> <img src="./assets/images/Icons/search.svg" alt="Logo"
          class="material-icons-custom" /></button>
    </div>
  </div>
</mat-toolbar>

<!-- Mobile/Tablet Sidenav Menu -->
<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" class="mobile-sidenav">
    <a mat-button (click)="sidenav.close()">About us</a>
    <a mat-button (click)="sidenav.close()">Ship Management</a>
    <a mat-button (click)="sidenav.close()">Crew Management</a>
    <a mat-button (click)="sidenav.close()">Job Opportunities</a>
    <a mat-button (click)="sidenav.close()">Contact</a>
  </mat-sidenav>

  <mat-sidenav-content>

    <div class="container m-t-48">
      <div class="row">
        <div class="col-12">
          <div class="search-bar">
            <div class="filter">
              <img src="./assets/images/Icons/Ranks.svg" alt="Logo" class="material-icons-custom" />
              <mat-form-field appearance="outline">
                <mat-label>Rank</mat-label>
                <mat-select [(ngModel)]="selectedRank">
                  <mat-option *ngFor="let rank of uniqueRanks" [value]="rank"> {{ rank }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="divider"></div>

            <div class="filter">
              <img src="./assets/images/Icons/Employer.svg" alt="Logo" class="material-icons-custom" />
              <mat-form-field class="border-0" appearance="outline">
                <mat-label>Employers</mat-label>
                <mat-select [(ngModel)]="selectedRank">
                  <mat-option>Captain</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="divider"></div>

            <div class="filter">
              <img src="./assets/images/Icons/Location.svg" alt="Logo" class="material-icons-custom" />

              <mat-form-field appearance="outline">
                <mat-label>Location</mat-label>
                <mat-select id="country_code">
                  <mat-option  *ngFor="let country of countryList" [value]="country.code">{{ country.name }} ({{ country.code }})</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="divider"></div>

            <div class="input-keyword">
              <span class="material-icons material-icons-custom">apps</span>
              <mat-form-field appearance="outline">
                <mat-label>Your keyword...</mat-label>
                <input matInput placeholder="Your keyword..." [(ngModel)]="keyword"   (keydown.enter)="onSearch()"    autocomplete="off"/>
              </mat-form-field>
            </div>

            <button mat-flat-button color="primary" class="bg-primary" (click)="onSearch()">
              Search
            </button>
          </div>
        </div>

      </div>

    </div>
    <div class="container m-t-48">
      <div class="row">
        <div *ngFor="let job of jobPostingList" class="col-lg-4 col-sm-6 m-b-20">
          <div class="job-card mat-elevation-z2">
            <div class="job-image-wrapper">
              <img
               [src]="job.featured_image || 'https://via.placeholder.com/360x180?text=No+Image'"
                alt="Job Image" />
              <div class="job-date">{{ job.date_published | date:'dd MMM yyyy' }}</div>
            </div>

            <div class="job-content">
              <h3 class="job-title">{{ job.title }}</h3>
              <p class="job-description">
                {{ job.full_description }}
              </p>

              <div class="job-tags" *ngIf="job.skills_required?.length > 0">
                <span class="job-tag" *ngFor="let skill of job.skills_required">{{ skill }}</span>
                <!-- <span class="job-tag">Contractual</span>
                <span class="job-tag">Worldwide</span> -->
              </div>

              <div class="job-footer">
                <!-- <div class="job-icons">
                  <span class="d-flex"><mat-icon>visibility</mat-icon> 725</span>
                  <span class="d-flex"><mat-icon>chat_bubble_outline</mat-icon> 12</span>
                </div> -->

                <button mat-flat-button color="primary" class="bg-primary" (click)="goToJobDetail(job.id)">
                  Read more
                </button>
              </div>
            </div>
          </div>
        </div>
         <div *ngIf="jobPostingList?.length === 0" class="no-records-message col-12 text-center">
      No record found.
    </div>
        <!-- <div class="col-lg-4 col-sm-6 m-b-20">
          <div class="job-card mat-elevation-z2">
            <div class="job-image-wrapper">
              <img src="https://www.shutterstock.com/image-photo/aerial-view-bulk-carrier-evening-260nw-2285879109.jpg"
                alt="Job Image" />
              <div class="job-date">23 Dec 2024</div>
            </div>

            <div class="job-content">
              <h3 class="job-title">3rd Engineer (3/E) | Container</h3>
              <p class="job-description">
                Embark on a rewarding adventure as a 3rd Officer onboard our advanced oil and chemical tanker vessels.
                Sail
                the world and gain unparalleled...
              </p>

              <div class="job-tags">
                <span class="job-tag">At Sea</span>
                <span class="job-tag">Contractual</span>
                <span class="job-tag">Worldwide</span>
              </div>

              <div class="job-footer">

                <button mat-flat-button color="primary" class="bg-primary">
                  Read more
                </button>
              </div>
            </div>
          </div>
        </div> -->
        <!-- <div class="col-lg-4 col-sm-6 m-b-20">
          <div class="job-card mat-elevation-z2">
            <div class="job-image-wrapper">
              <img
                src="https://img.freepik.com/fotos-premium/contenedor-buques-carga-carga-transporte-maritimo-negocios-mundiales-logistica-nautica-importacion-exportacion_35024-2664.jpg"
                alt="Job Image" />
              <div class="job-date">23 Dec 2024</div>
            </div>

            <div class="job-content">
              <h3 class="job-title">3rd Engineer (3/E) | Container</h3>
              <p class="job-description">
                Embark on a rewarding adventure as a 3rd Officer onboard our advanced oil and chemical tanker vessels.
                Sail
                the world and gain unparalleled...
              </p>

              <div class="job-tags">
                <span class="job-tag">At Sea</span>
                <span class="job-tag">Contractual</span>
                <span class="job-tag">Worldwide</span>
              </div>

              <div class="job-footer">


                <button mat-flat-button color="primary" class="bg-primary">
                  Read more
                </button>
              </div>
            </div>
          </div>
        </div> -->
         <!-- <div class="job-icons">
                  <span class="d-flex"><mat-icon>visibility</mat-icon> 725</span>
                  <span class="d-flex"><mat-icon>chat_bubble_outline</mat-icon> 12</span>
                </div> -->


      </div>

    </div>
     <mat-paginator [length]="total" [pageSize]="pageConfig.perPage" [pageIndex]="pageConfig.curPage - 1"
      [pageSizeOptions]="[5, 10, 20, 50, 100]" [showFirstLastButtons]="true" (page)="onPageChange($event)"
      aria-label="Select page">
    </mat-paginator>

  </mat-sidenav-content>
</mat-sidenav-container>
