<mat-card>
  <mat-card-header>
    <mat-card-title class="d-flex align-items-center gap-6 m-b-10">
      <button mat-icon-button color="primary" (click)="navigate()">
        <mat-icon>arrow_back</mat-icon>
      </button> {{ isEditMode ? 'Edit Job' :
      'Add New Job ' }}

    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="jobForm" enctype="multipart/form-data" class="row">

      <div class="col-12 m-b-30">
        <div class="p-16 bg-light-primary rounded">
          <h5 class="f-s-14 text-primary d-flex align-items-center f-w-500">
            <i-tabler name="info-circle" class="icon-20 m-r-8 d-flex"></i-tabler>Job Details
          </h5>

        </div>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 m-b-16  m-b-16">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Rank</mat-label>
          <mat-select formControlName="rank">
            <mat-option value="">Select Rank</mat-option>
            <mat-option *ngFor="let rank of uniqueRanks"[value]="rank.id">
                {{ rank.rank_name }}
            </mat-option>
          </mat-select>

          <mat-error *ngIf="jobForm.get('rank')?.invalid && jobForm.get('rank')?.touched">
            Rank is required.
          </mat-error>
        </mat-form-field>

      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 m-b-16  m-b-16">
        <!-- Job Type -->
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Vessel Type</mat-label>
          <mat-select id="vessel_type" formControlName="vessel_type">
            <mat-option value="">Select Vessel Type</mat-option>
            <!-- <mat-option value="Type 1">Type 1</mat-option>
            <mat-option value="Type 3">Type 3</mat-option> -->
            <mat-option value="Bulk Carrier">Bulk Carrier</mat-option>
             <mat-option value="Container">Container</mat-option>
          </mat-select>
          <mat-error *ngIf="jobForm.get('vessel_type')?.invalid && jobForm.get('vessel_type')?.touched">
            Vessel Type is required.
          </mat-error>
        </mat-form-field>
      </div>
        <div class="col-xl-4 col-lg-4 col-md-6 m-b-16 m-b-16">
        <!-- Job Title -->
        <mat-form-field appearance="outline" class="w-100">
          <mat-label> Number of vacancy</mat-label>
           <input matInput id="number_of_vacancy" formControlName="number_of_vacancy" type="text" maxlength="4">
          <mat-error *ngIf="jobForm.get('number_of_vacancy')?.invalid && jobForm.get('number_of_vacancy')?.touched">
            <span *ngIf="jobForm.get('number_of_vacancy')?.errors?.['required']"> Number of Vacancy is required..</span>
            <span *ngIf="jobForm.get('number_of_vacancy')?.errors?.['pattern']"> Only digits are allowed.</span>
            <span *ngIf="jobForm.get('number_of_vacancy')?.errors?.['maxlength']">  Maximum allowed digits is 4.</span>

          </mat-error>

        </mat-form-field>
      </div>


      <!-- <div class="col-xl-4 col-lg-4 col-md-6 m-b-16  m-b-16">

      
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Date Published</mat-label>
          <input matInput [matDatepicker]="publishedPicker" id="date_published" formControlName="date_published"
            [readonly]="isDatePublishedReadonly" (dateChange)="onToDateChange(jobForm.get('date_published'),jobForm.get('deadline'))">
          <mat-datepicker-toggle matSuffix [for]="publishedPicker"></mat-datepicker-toggle>
          <mat-datepicker #publishedPicker></mat-datepicker>
          <mat-error *ngIf="jobForm.get('date_published')?.invalid && jobForm.get('date_published')?.touched">
            Date published is required.
          </mat-error>
        </mat-form-field>

      </div> -->
    

       <div class="col-xl-4 col-lg-4 col-md-6 m-b-16"> <!-- Type of post -->
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Type of post</mat-label>
          <mat-select id="job_type_post" formControlName="job_type_post" [disabled]="isEditMode">
            <mat-option value="" disabled>Select a post</mat-option>
            <mat-option value="Postnow">Post now</mat-option>
            <mat-option value="Schedulelater">Schedule later</mat-option>
          </mat-select>
          <mat-error *ngIf="jobForm.get('job_type_post')?.invalid && jobForm.get('job_type_post')?.touched">
            Type of post is required.
          </mat-error>
        </mat-form-field>
      </div>


 <div class="col-xl-4 col-lg-4 col-md-6 m-b-16" *ngIf="jobForm.get('job_type_post')?.value === 'Schedulelater'">
        <!-- Post At -->

        <div class="form-group">
          <div class="d-flex align-items-top gap-4">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Choose a date</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="posted_date" />
              
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="jobForm.get('posted_date')?.hasError('postedDateInvalid')">
        Date cannot be before today.
      </mat-error>

            </mat-form-field>

            <div class="w-100 ">
              <div class="time-input-wrapper custom-time-field">
                <input type="time" formControlName="posted_at" class="styled-time-input" required
                  style="cursor: pointer;" />
                <label class="floating-label">Choose a time</label>
              </div>
            </div>


          </div>
        </div>
      </div>
        <div class="col-xl-4 col-lg-4 col-md-6 m-b-16  m-b-16">

        <!-- Deadline -->
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Deadline</mat-label>
          <input matInput [matDatepicker]="deadlinePicker" id="deadline" formControlName="deadline">
          <mat-datepicker-toggle matSuffix [for]="deadlinePicker"></mat-datepicker-toggle>
          <mat-datepicker #deadlinePicker></mat-datepicker>
          <mat-error *ngIf="jobForm.get('deadline')?.invalid && jobForm.get('deadline')?.touched">
            <span *ngIf="jobForm.get('deadline')?.errors?.['required']">Deadline is required.</span>
            <!-- <span *ngIf="jobForm.get('deadline')?.errors?.['deadlineInvalid']">Deadline cannot be before today's date
              or
              the date published.</span> -->
              <span *ngIf="jobForm.get('deadline')?.hasError('deadlineInvalid')">
  Deadline cannot be before today's date.
              </span>
          </mat-error>
        </mat-form-field>

      </div>

      <div class="col-12 m-b-30">
        <div class="p-16 bg-light-primary rounded">
          <h5 class="f-s-14 text-primary d-flex align-items-center f-w-500">
            <i-tabler name="info-circle" class="icon-20 m-r-8 d-flex"></i-tabler>Employer Details
          </h5>
        </div>

      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 m-b-16  m-b-16">
        <!-- Employer -->
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Employer</mat-label>
          <input matInput id="employer" formControlName="employer" type="text">
          <mat-error *ngIf="jobForm.get('employer')?.invalid && jobForm.get('employer')?.touched">
            <span *ngIf="jobForm.get('employer')?.errors?.['required']">Employer is required.</span>
            <span *ngIf="jobForm.get('employer')?.errors?.['maxlength']">Employer cannot exceed 50 characters.</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 m-b-16  m-b-16"> <!-- Required Experience -->
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Required Experience</mat-label>
          <input matInput id="required_experience" formControlName="required_experience" type="text">
          <mat-error *ngIf="jobForm.get('required_experience')?.invalid && jobForm.get('required_experience')?.touched">
            <span *ngIf="jobForm.get('required_experience')?.errors?.['required']">Experience is required.</span>
            <span *ngIf="jobForm.get('required_experience')?.errors?.['maxlength']">Experience cannot exceed 50
              characters.</span>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 m-b-16  m-b-16"><!-- Start Salary -->
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Salary Range</mat-label>
          <input matInput id="start_salary" formControlName="start_salary" type="text"
            (input)="formatSalary('start_salary')">
          <mat-error *ngIf="jobForm.get('start_salary')?.invalid && jobForm.get('start_salary')?.touched">
            <!-- <span *ngIf="jobForm.get('start_salary')?.errors?.['required']">Start salary is required.</span> -->
            <span *ngIf="jobForm.get('start_salary')?.errors?.['min']">Start salary cannot be negative.</span>
            <span *ngIf="jobForm.get('start_salary')?.errors?.['pattern']">Only letters, numbers, spaces, commas and dashes allowed.</span>
    <span *ngIf="jobForm.get('start_salary')?.errors?.['maxlength']">Salary cannot exceed 30 characters.</span>
            <!-- <span *ngIf="jobForm.get('start_salary')?.errors?.['maxlength']">Start salary cannot exceed 7
              digits.</span> -->
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 m-b-16 m-b-16"><!-- Country Code -->
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Country Code</mat-label>
          <mat-select id="country_code" formControlName="country_code">
            <mat-option value="" disabled>Select a country</mat-option>
            <mat-option *ngFor="let country of countryList" [value]="country.code">
              {{ country.name }} ({{ country.code }})
            </mat-option>
          </mat-select>
            <mat-error *ngIf="jobForm.get('country_code')?.invalid && jobForm.get('country_code')?.touched">
            Country Code is required.
          </mat-error>
        </mat-form-field>
      </div>
        <!-- <div class="col-xl-4 col-lg-4 col-md-6 m-b-16  m-b-16">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Assignment Duration</mat-label>
          <input matInput id="assignment_duration" formControlName="assignment_duration" type="text">
          <mat-error *ngIf="jobForm.get('assignment_duration')?.invalid && jobForm.get('assignment_duration')?.touched">
            <span *ngIf="jobForm.get('assignment_duration')?.errors?.['required']">Assignment duration is
              required.</span>
            <span *ngIf="jobForm.get('assignment_duration')?.errors?.['maxlength']">Duration cannot exceed 50
              characters.</span>
            <span *ngIf="jobForm.get('assignment_duration')?.errors?.['minLengthWithoutSpaces']">
              Assignment duration must be at least {{
              jobForm.get('assignment_duration')?.errors?.['minLengthWithoutSpaces'].requiredLength }} characters
            </span>
          </mat-error>
        </mat-form-field>
      </div> -->

      <div class="col-xl-4 col-lg-4 col-md-6 m-b-16  m-b-16">
        <!-- Address -->
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Address</mat-label>
          <input matInput id="address" formControlName="address" type="text">
          <mat-error *ngIf="jobForm.get('address')?.invalid && jobForm.get('address')?.touched">
            <span *ngIf="jobForm.get('address')?.errors?.['required']">Address is required.</span>
            <span *ngIf="jobForm.get('address')?.errors?.['minlength']">Address must be at least {{
              jobForm.get('address')?.errors?.['minlength'].requiredLength }} characters.</span>
            <span *ngIf="jobForm.get('address')?.errors?.['maxlength']">Address cannot exceed {{
              jobForm.get('address')?.errors?.['maxlength'].requiredLength }} characters.</span>
            <span *ngIf="jobForm.get('address')?.errors?.['minLengthWithoutSpaces']">
              Address must be at least {{ jobForm.get('address')?.errors?.['minLengthWithoutSpaces'].requiredLength }}
              characters excluding spaces.
            </span>
          </mat-error>
        </mat-form-field>
      </div>


      <div class="col-xl-4 col-lg-4 col-md-6 m-b-16">
        <!-- Skills Required -->
        <div class="skills-section m-0">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Add Skills</mat-label>
            <input matInput id="skills_input" type="text" [(ngModel)]="newSkill" (keyup.enter)="addSkill()"
              (keydown.enter)="preventFormSubmit($event)" (focus)="onInputFocus()" [ngModelOptions]="{standalone: true}"
              placeholder="Enter a skill and press Enter">
            <button mat-icon-button matSuffix type="button" (click)="addSkill()" [disabled]="!newSkill.trim()"
              (keydown.enter)="preventFormSubmit($event)">
              <mat-icon>add</mat-icon>
            </button>
          </mat-form-field>

          <mat-chip-listbox #chipList aria-label="Skills selection">
            <mat-chip *ngFor="let skill of skillsArray; let i = index" [removable]="true" (removed)="removeSkill(i)">
              {{skill}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
          </mat-chip-listbox>

          <!-- <mat-error *ngIf="skillsArray.length === 0 && jobForm.get('skills_required')?.touched">
            At least one skill is required.
          </mat-error> -->
          <mat-error *ngIf="jobForm.get('skills_required')?.errors?.['minLengthSkill']">
            Each skill must be at least
            {{ jobForm.get('skills_required')?.errors?.['minLengthSkill'].requiredLength }}
            characters long.
          </mat-error>
          <mat-error *ngIf="jobForm.get('skills_required')?.errors?.['maxLengthSkill']">
            Each skill cannot exceed
            {{ jobForm.get('skills_required')?.errors?.['maxLengthSkill'].requiredLength }}
            characters.
          </mat-error>
          <mat-error *ngIf="jobForm.get('skills_required')?.errors?.['maxSkills']">
            No more than {{ jobForm.get('skills_required')?.errors?.['maxSkills'].required }} skills are allowed.
          </mat-error>
        </div>

      </div>

      <!-- <div class="col-xl-4 col-lg-4 col-md-6 m-b-16">

        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Full Description</mat-label>
          <textarea matInput id="full_description" formControlName="full_description" rows="6"></textarea>
          <mat-error *ngIf="jobForm.get('full_description')?.invalid && jobForm.get('full_description')?.touched">
            <span *ngIf="jobForm.get('full_description')?.errors?.['required']">Full description is required.</span>
            <span *ngIf="jobForm.get('full_description')?.errors?.['minlength']">
              Full Description must be at least {{
              jobForm.get('full_description')?.errors?.['minlength'].requiredLength
              }} characters.
            </span>
            <span *ngIf="jobForm.get('full_description')?.errors?.['maxlength']">
              Full Description cannot exceed {{ jobForm.get('full_description')?.errors?.['maxlength'].requiredLength
              }}
              characters.
            </span>
            <span *ngIf="jobForm.get('full_description')?.errors?.['minLengthWithoutSpaces']">
              Full description must be at least {{
              jobForm.get('full_description')?.errors?.['minLengthWithoutSpaces'].requiredLength }} characters
              excluding
              spaces.
            </span>
          </mat-error>
        </mat-form-field>
      </div> -->
      <div class="col-xl-4 col-lg-4 col-md-6 m-b-16">
        <!-- Short Description -->
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Job Description</mat-label>
          <textarea matInput id="short_description" formControlName="short_description" rows="6"></textarea>
          <mat-error *ngIf="jobForm.get('short_description')?.invalid && jobForm.get('short_description')?.touched">
            <span *ngIf="jobForm.get('short_description')?.errors?.['required']">Job description is required.</span>
            <span *ngIf="jobForm.get('short_description')?.errors?.['minlength']">
               Description must be at least {{
              jobForm.get('short_description')?.errors?.['minlength'].requiredLength }} characters.
            </span>
            <span *ngIf="jobForm.get('short_description')?.errors?.['maxlength']">
              Job Description cannot exceed {{
              jobForm.get('short_description')?.errors?.['maxlength'].requiredLength
              }} characters.
            </span>
            <span *ngIf="jobForm.get('short_description')?.errors?.['minLengthWithoutSpaces']">
              Job description must be at least {{
              jobForm.get('short_description')?.errors?.['minLengthWithoutSpaces'].requiredLength }} characters
              excluding spaces.
            </span>
          </mat-error>
        </mat-form-field>

      </div>

      <div class="col-12 m-b-30">
        <div class="p-16 bg-light-primary rounded">
          <h5 class="f-s-14 text-primary d-flex align-items-center f-w-500">
            <i-tabler name="info-circle" class="icon-20 m-r-8 d-flex"></i-tabler>Miscellaneous
          </h5>
        </div>
      </div>

      <div class="col-xl-4 col-lg-4 col-md-6 m-b-16"> <!-- Application Instruction -->
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Application Instruction</mat-label>
          <textarea matInput id="application_instruction" formControlName="application_instruction" rows="6"></textarea>
          <mat-error
            *ngIf="jobForm.get('application_instruction')?.invalid && jobForm.get('application_instruction')?.touched">
            <span *ngIf="jobForm.get('application_instruction')?.errors?.['required']">Application Instruction is
              required.</span>
            <span *ngIf="jobForm.get('application_instruction')?.errors?.['minlength']">Application Instruction must
              be
              at least {{ jobForm.get('application_instruction')?.errors?.['minlength'].requiredLength }}
              characters.</span>
            <span *ngIf="jobForm.get('application_instruction')?.errors?.['maxlength']">Application Instruction cannot
              exceed {{ jobForm.get('application_instruction')?.errors?.['maxlength'].requiredLength }}
              characters.</span>
            <span *ngIf="jobForm.get('application_instruction')?.errors?.['minLengthWithoutSpaces']">
              Application Instruction must be at least {{
              jobForm.get('application_instruction')?.errors?.['minLengthWithoutSpaces'].requiredLength }} characters
              excluding spaces.
            </span>
          </mat-error>
        </mat-form-field>
      </div>
       <div class="col-xl-4 col-lg-4 col-md-6 m-b-16"> <!-- Social Media Type -->
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Social Media Type</mat-label>
          <mat-select formControlName="social_media_type" [multiple]="true" [disabled]="isEditMode">
            <mat-option *ngFor="let option of socialMediaOptions" [value]="option.value">
              {{option.label}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="jobForm.get('social_media_type')?.invalid && jobForm.get('social_media_type')?.touched">
            Social Media Type is required.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-6 m-b-16"> <!-- Featured Image -->
        <div class="file-input-container">
          <button mat-stroked-button type="button" (click)="fileInput.click()">
            <mat-icon>cloud_upload<span class="text-danger">*</span></mat-icon>
            Choose Featured Image
          </button>
          <input #fileInput type="file" style="display: none" (change)="onFileSelected($event, 'featured_image')"
            accept="image/jpeg,image/png,image/webp">

          <!-- Image Preview -->
          <div class="img-preview img-close m-t-6" *ngIf="imagePreview">
            <img [src]="imagePreview" alt="Preview" style="width: 100%; height: 200px; object-fit: cover;" />
            <button type="button" mat-icon-button class="remove-icon" (click)="removeImage()">
              <mat-icon>cancel</mat-icon> <!-- X Icon -->
            </button>
          </div>

          <span class="file-name" *ngIf="jobForm.get('featured_image')?.value">
            {{ getFileName(jobForm.get('featured_image')?.value) }}
          </span>
          <mat-error *ngIf="jobForm.get('featured_image')?.invalid && jobForm.get('featured_image')?.touched">
            Featured image is required.
          </mat-error>
           <mat-error *ngIf="jobForm.get('featured_image')?.hasError('invalidFileExtension')">
    Invalid image file. Only .jpg, .jpeg, .png are allowed.
  </mat-error>
  
        </div>
      </div>

     <div class="d-flex justify-content-end col-12 m-b-16">
        <button mat-flat-button color="primary"  [disabled]="!jobForm.valid"
  (click)="onSubmit()">
          {{ isEditMode ? 'Update' : 'Create' }} Job Post
        </button>
      </div>
    </form>

  </mat-card-content>
</mat-card>
