<mat-card>
  <mat-card-header>
    <mat-card-title class="d-flex align-items-center gap-6">
      <button mat-icon-button color="primary" (click)="goBack()">
        <mat-icon>arrow_back</mat-icon></button
      >Change Password
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div *ngIf="apiError" class="alert alert-danger">
      {{ apiError }}
    </div>

    <form [formGroup]="userProfileForm" class="profile-form">
      <div class="row">
        <div class="col-lg-4 m-b-16">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" placeholder="Enter Email" />
            <mat-error
              *ngIf="userProfileForm.get('email')?.errors?.['required']"
            >
              Email is required
            </mat-error>
            <mat-error *ngIf="userProfileForm.get('email')?.hasError('email')">
              Please enter a valid email address.
            </mat-error>
            <!-- <mat-error *ngIf="userProfileForm.get('first_name')?.errors?.['pattern']">
              First name can only contain letters, numbers, and spaces
            </mat-error> -->
          </mat-form-field>
        </div>

        <div class="col-lg-4 m-b-16">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Current Password</mat-label>
            <input
              matInput
              [type]="passwordVisible ? 'text' : 'password'"
              formControlName="oldPassword"
              placeholder="Enter Current Passsword"
            />
            <button
              mat-icon-button
              *ngIf="true"
              matSuffix
              (click)="togglePasswordVisibility()"
            >
              <mat-icon>{{
                passwordVisible ? "visibility" : "visibility_off"
              }}</mat-icon>
            </button>
            <mat-error
              *ngIf="userProfileForm.get('oldPassword')?.errors?.['required']"
            >
              Current Password is required
            </mat-error>
            <mat-error
              *ngIf="userProfileForm.get('oldPassword')?.hasError('pattern')"
            >
              Password must contain at least one uppercase letter, one lowercase
              letter, one number, and one special character.
            </mat-error>
            <mat-error
              *ngIf="userProfileForm.get('oldPassword')?.hasError('minlength')"
            >
              Password must be at least 8 characters.
            </mat-error>

            <!-- <mat-error *ngIf="userProfileForm.get('last_name')?.errors?.['pattern']">
              Last name can only contain letters, numbers, and spaces
            </mat-error> -->
          </mat-form-field>
        </div>
        <div class="col-lg-4 m-b-16">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>New Password</mat-label>
            <input
              matInput
              [type]="passwordVisible1 ? 'text' : 'password'"
              formControlName="newPassword"
              placeholder="Enter New Password"
              (input)="onInputChange()"
            />
            <button
              mat-icon-button
              *ngIf="true"
              matSuffix
              (click)="togglePasswordVisibility1()"
            >
              <mat-icon>{{
                passwordVisible1 ? "visibility" : "visibility_off"
              }}</mat-icon>
            </button>
            <mat-error
              *ngIf="userProfileForm.get('newPassword')?.errors?.['required']"
            >
              New Password is required
            </mat-error>
            <mat-error
              *ngIf="userProfileForm.get('newPassword')?.hasError('minlength')"
            >
              Password must be at least 8 characters.
            </mat-error>
            <mat-error
              *ngIf="userProfileForm.get('newPassword')?.hasError('pattern')"
            >
              Password must contain at least one uppercase letter, one lowercase
              letter, one number, and one special character.
            </mat-error>
            <!-- <mat-error *ngIf="userProfileForm.get('New Password')?.errors?.['pattern']">
              Last name can only contain letters, numbers, and spaces
            </mat-error> -->
          </mat-form-field>
        </div>
        <div class="col-lg-4 m-b-16">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Confirm Password</mat-label>
            <input
              matInput
              [type]="passwordVisible2 ? 'text' : 'password'"
              placeholder="Enter Confirm Password"
              (input)="onInputChange()"
              formControlName="confirmPassword"
            />
            <button
              mat-icon-button
              *ngIf="true"
              matSuffix
              (click)="togglePasswordVisibility2()"
            >
              <mat-icon>{{
                passwordVisible2 ? "visibility" : "visibility_off"
              }}</mat-icon>
            </button>
            <mat-error
              *ngIf="userProfileForm.get('confirmPassword')?.errors?.['required']"
            >
              Confirm Password is required
            </mat-error>
            <mat-error
              *ngIf="userProfileForm.get('confirmPassword')?.errors?.['mismatch']"
              >Passwords do not match</mat-error
            >
            <!-- <mat-error *ngIf="userProfileForm.get('New Password')?.errors?.['pattern']">
              Last name can only contain letters, numbers, and spaces
            </mat-error> -->
          </mat-form-field>
        </div>
      </div>

      <!-- Submit Button -->
      <div class="d-flex justify-content-end mt-4">
        <button mat-flat-button color="primary" [disabled]="!userProfileForm.valid" (click)="onSubmit()">
          Change password
          <!-- {{ isEditMode ? 'Update' : 'Create' }} -->
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
