<mat-card>
  <mat-card-header>
    <mat-card-title class="d-flex align-items-center gap-6">
      <button mat-icon-button color="primary" (click)="goBack()">
        <mat-icon>arrow_back</mat-icon>
      </button>Change Password
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div *ngIf="apiError" class="alert alert-danger">
      {{ apiError }}
    </div>

    <form [formGroup]="userProfileForm" class="profile-form">

      <div class="row">

        <div class="col-lg-4 m-b-16">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Email</mat-label>
            <input matInput formControlName="Email" placeholder="Enter Email">
            <mat-error *ngIf="userProfileForm.get('Email')?.errors?.['required']">
              Email is required
            </mat-error>
            <!-- <mat-error *ngIf="userProfileForm.get('first_name')?.errors?.['pattern']">
              First name can only contain letters, numbers, and spaces
            </mat-error> -->
          </mat-form-field>
        </div>

       
        <div class="col-lg-4 m-b-16">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Current Password</mat-label>
            <input matInput [type]="passwordVisible ? 'text' : 'password'" formControlName="Current Password" placeholder="Enter Current Passsword">
            <button mat-icon-button *ngIf="true" matSuffix (click)="togglePasswordVisibility()">
              <mat-icon>{{ passwordVisible ? 'visibility' : 'visibility_off' }}</mat-icon>
            </button>
            <mat-error *ngIf="userProfileForm.get('Current Password')?.errors?.['required']">
              Current Password is required
            </mat-error>
            <!-- <mat-error *ngIf="userProfileForm.get('last_name')?.errors?.['pattern']">
              Last name can only contain letters, numbers, and spaces
            </mat-error> -->
          </mat-form-field>
        </div>
        <div class="col-lg-4 m-b-16">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>New Password</mat-label>
            <input matInput [type]="passwordVisible1 ? 'text' : 'password'" formControlName="New Password" placeholder="Enter New Password">
            <button mat-icon-button *ngIf="true" matSuffix (click)="togglePasswordVisibility1()">
              <mat-icon>{{ passwordVisible1 ? 'visibility' : 'visibility_off' }}</mat-icon>
            </button>
            <mat-error *ngIf="userProfileForm.get('New Password')?.errors?.['required']">
              New Password is required
            </mat-error>
            <!-- <mat-error *ngIf="userProfileForm.get('New Password')?.errors?.['pattern']">
              Last name can only contain letters, numbers, and spaces
            </mat-error> -->
          </mat-form-field>
        </div>
        <div class="col-lg-4 m-b-16">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Confirm Password</mat-label>
            <input matInput [type]="passwordVisible2 ? 'text' : 'password'"  placeholder="Enter Confirm Password">
            <button mat-icon-button *ngIf="true" matSuffix (click)="togglePasswordVisibility2()">
              <mat-icon>{{ passwordVisible2 ? 'visibility' : 'visibility_off' }}</mat-icon>
            </button>
            <mat-error *ngIf="userProfileForm.get('confirm password')?.errors?.['required']">
              Confirm Password is required
            </mat-error>
            <!-- <mat-error *ngIf="userProfileForm.get('New Password')?.errors?.['pattern']">
              Last name can only contain letters, numbers, and spaces
            </mat-error> -->
          </mat-form-field>
        </div>
      </div>


      <!-- Submit Button -->
      <div class="d-flex justify-content-end mt-4">
        <button mat-flat-button color="primary" > Change password
          <!-- {{ isEditMode ? 'Update' : 'Create' }} -->
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
