<mat-toolbar color="white" class="nav-toolbar">
  <div class="container header" fxLayout="row" fxLayoutAlign="space-between center">

    <!-- Left: Logo + Hamburger (only on small screens) -->
    <div fxLayout="row" fxLayoutAlign="start center">
      <img src="./assets/images/logos/Navilands logo - Dark.svg" alt="Logo" class="logo" />

    </div>

    <!-- Center: Navigation Links (hidden on small screens) -->
    <div fxLayout="row" fxLayoutAlign="center center" class="nav-links desktop-only">
      <a mat-button>About us</a>
      <a mat-button>Ship Management</a>
      <a mat-button>Crew Management</a>
      <a mat-button>Job Opportunities</a>
      <a mat-button>Contact</a>

    </div>

    <!-- Right: Icons -->
    <div fxLayout="row" fxLayoutAlign="end center" class="icon-buttons">
      <button mat-icon-button class="mobile-menu" >
        <!-- (click)="sidenav.toggle()" -->
        <mat-icon>menu</mat-icon>
      </button>
      <button mat-icon-button (click)="goToLogin()"><mat-icon>person</mat-icon></button>
      <button mat-icon-button> <img src="./assets/images/Icons/search.svg" alt="Logo"
          class="material-icons-custom" /></button>
    </div>
  </div>
</mat-toolbar>


<div class="container  m-t-48">

<div class="header justify-content-start d-flex align-items-center m-b-10">
    <button (click)="goBack()" mat-mini-fab class="bg-primary text-white">
      <mat-icon>arrow_back</mat-icon>
    </button>


    <h2 class="m-l-12">Job Details</h2>
  </div>

    <div class="row" >
        <div class="col-lg-8">
            <mat-card>
                <mat-card-content>
                    <div class="row w-100 justify-content-between align-items-center">
                        <div class="col-lg-12">
                            <h2 class="m-b-0">{{ jobDetails?.title }}</h2>
                            <p class="m-t-6 m-b-0">{{jobDetails?.employer }}</p>
                            <p class="m-t-4 m-b-0 d-flex gap-2 align-items-center">
                                <i-tabler name="map-pin" class="icon-18 caption-icon"></i-tabler>
                                 {{ jobDetails?.address }}
                            </p>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>

            <mat-card>
                <mat-card-content>
                    <div class="row">
                        <div class="col-lg-12 m-b-10">
                            <div class="row m-b-20">
                                <div class="col-lg-3"><strong>Assignment</strong></div>
                                <div class="col-lg-8">{{ jobDetails?.assignment_duration }}</div>
                            </div>
                            <div class="row m-b-20">
                                <div class="col-lg-3"><strong>Short Description</strong></div>
                                <div class="col-lg-8">{{ jobDetails?.short_description }}
                                </div>
                            </div>
                            <div class="row m-b-20">
                                <div class="col-lg-3"><strong>Full Description</strong></div>
                                <div class="col-lg-8">
                                   {{ jobDetails?.full_description }}
                                </div>
                            </div>
                            <div class="row m-b-20" *ngIf="formattedSkills.length > 0">
                                <div class="col-lg-3"><strong>Required Skills</strong></div>
                                <div class="col-lg-8">
                                    <div class="d-flex flex-wrap gap-6">
                                        <button mat-stroked-button color="primary"  *ngFor="let skill of formattedSkills">  {{ skill }}</button>
                                        <!-- <button mat-stroked-button color="primary">TypeScript</button>
                                        <button mat-stroked-button color="primary">HTML/CSS</button>
                                        <button mat-stroked-button color="primary">RxJS</button>
                                        <button mat-stroked-button color="primary">REST API</button> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="col-lg-4">
            <mat-card>
                <img mat-card-image [src]= "jobDetails?.featured_image" alt="Job Image"
                    height="250" width="390">
                <mat-card-content>
                    <div class="row">
                        <div class="col-lg-12 m-b-16">
                            <strong class="m-r-6">Employment Type:</strong>  {{ jobDetails?.job_type }}
                        </div>
                        <div class="col-lg-12 m-b-16">
                            <strong class="m-r-6">Salary Range:</strong> ₹{{ jobDetails?.start_salary | number }} - ₹{{ jobDetails?.end_salary | number }}
                        </div>
                        <div class="col-lg-12 m-b-16">
                            <strong class="m-r-6">Deadline:</strong> {{ jobDetails?.deadline | date: 'MMM d, y' }}
                        </div>
                        <div class="col-lg-12 m-b-16">
                            <strong class="m-r-6">Experience:</strong> {{ jobDetails?.required_experience }}
                        </div>
                        <div class="col-lg-12 m-b-16">
                            <strong class="m-r-6">Posted on:</strong> <span> {{ jobDetails?.posted_date | date: 'MMM d, y' }}</span>
                        </div>
                    </div>
                     <button mat-flat-button class="w-100" color="primary">
            Apply Now
          </button>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

</div>
