<mat-sidenav-container class="bg-white">
  <mat-sidenav-content>
    <!-- Header -->
    <mat-toolbar class="topbar topbar-xl">
      <div class="container full-width p-xs-6">
        <div class="branding p-x-0">
          <app-branding></app-branding>
        </div>
        <span class="flex-1-auto"></span>
        <div class="d-none d-lg-flex">
          <!-- Links -->
          <button mat-button class="m-x-8 f-s-16 text-white">About us</button>
          <button mat-button class="m-x-8 f-s-16 text-white">
            Ship Management
          </button>
          <button mat-button class="m-x-8 f-s-16 text-white">
            Crew Management
          </button>
          <button mat-button class="m-x-8 f-s-16 text-white">
            Job Opportunities
          </button>
          <button mat-button class="m-x-8 f-s-16 text-white">Contact</button>
          <button mat-icon-button (click)="goToLogin()">
            <mat-icon>person</mat-icon>
          </button>
        </div>

        <!-- Mobile Menu -->
        <button
          mat-icon-button
          (click)="filterNavRight.toggle()"
          class="d-flex d-lg-none"
        >
          <i-tabler name="menu-2" class="icon-20 d-flex"></i-tabler>
        </button>
      </div>
    </mat-toolbar>
    <div class="container m-t-48">
      <div
        class="header justify-content-start d-flex align-items-center m-b-10"
      >
        <button (click)="goBack()" mat-mini-fab class="bg-primary text-white">
          <mat-icon>arrow_back</mat-icon>
        </button>

        <h2 class="m-l-12">Job Details</h2>
      </div>

      <div class="row">
        <div class="col-lg-8">
          <mat-card>
            <mat-card-content>
              <div class="row w-100 justify-content-between align-items-center">
                <div class="col-lg-12">
                  <h2 class="m-b-0">{{ jobDetails?.ranks?.rank_name || '-' }}</h2>
                  <p class="m-t-6 m-b-0">{{ jobDetails?.employer }}</p>
                  <p class="m-t-4 m-b-0 d-flex gap-2 align-items-center">
                    <i-tabler
                      name="map-pin"
                      class="icon-18 caption-icon"
                    ></i-tabler>
                    {{ jobDetails?.address }}
                  </p>
                </div>
              </div>
            </mat-card-content>
          </mat-card>

          <mat-card>
            <mat-card-content>
              <div class="row">
                <div class="col-lg-12 m-b-10">
                  <!-- <div class="row m-b-20">
                    <div class="col-lg-3"><strong>Assignment</strong></div>
                    <div class="col-lg-8">
                      {{ jobDetails?.assignment_duration }}
                    </div>
                  </div> -->
                  <div class="row m-b-20">
                    <div class="col-lg-3">
                      <strong>Job Description</strong>
                    </div>
                    <div class="col-lg-8">
                      {{ jobDetails?.short_description }}
                    </div>
                  </div>
                  <!-- <div class="row m-b-20">
                    <div class="col-lg-3">
                      <strong>Full Description</strong>
                    </div>
                    <div class="col-lg-8">
                      {{ jobDetails?.full_description }}
                    </div>
                  </div> -->
                  <div class="row m-b-20">
                    <div class="col-lg-3">
                      <strong>Application Instruction</strong>
                    </div>
                    <div class="col-lg-8">
                      {{ jobDetails?.application_instruction }}
                    </div>
                  </div>
                   <div class="row m-b-20">
  <div class="col-lg-3"><strong>Required Skills</strong></div>
  <div class="col-lg-8">
    <div class="d-flex flex-wrap gap-6">
      <ng-container *ngIf="formattedSkills!.length > 0; else noSkills">
        <button mat-stroked-button color="primary" *ngFor="let skill of formattedSkills">
          {{ skill }}
        </button>
      </ng-container>
      <ng-template #noSkills>
        -
      </ng-template>
    </div>
  </div>
</div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-lg-4">
          <mat-card>
            <img
              mat-card-image
              [src]="jobDetails?.featured_image"
              alt="Job Image"
              height="250"
              width="390"
            />
            <mat-card-content>
              <div class="row">
                <div class="col-lg-12 m-b-16">
                  <strong class="m-r-6">Vessel Type:</strong>
                  {{ jobDetails?.vessel_type||'-' }}
                </div>
                  <div class="col-lg-12 m-b-16">
                  <strong class="m-r-6">Number Of Vacancy:</strong>
                  {{ jobDetails?.number_of_vacancy||'-' }}
                </div>
                <div class="col-lg-12 m-b-16">
                  <!-- <strong class="m-r-6">Salary Range:</strong> ${{
                    jobDetails?.start_salary||'-'
                  }} -->

                   <strong class="m-r-6">Salary Range:</strong> {{ jobDetails?.start_salary ? ('$' + jobDetails.start_salary) : '-' }}

                </div>
                <div class="col-lg-12 m-b-16">
                  <strong class="m-r-6">Deadline:</strong>
                  {{ jobDetails?.deadline | date : "MMM d, y" }}
                </div>
                <div class="col-lg-12 m-b-16">
                  <strong class="m-r-6">Experience:</strong>
                  {{ jobDetails?.required_experience ||'-' }}
                </div>
                <div class="col-lg-12 m-b-16">
                  <strong class="m-r-6">Posted on:</strong>
                  <span>
                    {{ jobDetails?.posted_date | date : "MMM d, y" }}</span
                  >
                </div>
              </div>
              <button
                *ngIf="showApplyButton"
                mat-flat-button
                class="w-100"
                color="primary"
                (click)="onApplyNowClick()"
              >
                Apply Now
              </button>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
    <div
      *ngIf="showLoginSignupDialog"
      class="dialog-overlay"
      role="dialog"
      aria-modal="true"
      aria-labelledby="dialogTitle"
      (click)="onCancel()"
    >
      <div class="dialog-box" (click)="$event.stopPropagation()">
        <div
          class="dialog-header d-flex align-items-center justify-content-between"
        >
          <h2 id="dialogTitle" class="m-0">Login or Signup</h2>
          <button
            mat-icon-button
            aria-label="Close dialog"
            (click)="onCancel()"
          >
            <i-tabler name="x" class="icon-20"></i-tabler>
          </button>
        </div>
        <p>
          To proceed with your job application, please log in to your account or
          register as a new user.
        </p>
        <div class="dialog-actions">
          <button mat-flat-button (click)="onLogin()">Login</button>
          <button mat-flat-button color="primary" (click)="onSignup()">
            Signup
          </button>
        </div>
      </div>
    </div>

    <!-- //Apply Now// -->
    <div
      *ngIf="showApplyModal"
      class="dialog-overlay"
      role="dialog"
      aria-modal="true"
      aria-labelledby="applyDialogTitle"
      (click)="closeApplyModal()"
    >
      <div class="dialog-box" (click)="$event.stopPropagation()">
        <div
          class="dialog-header d-flex align-items-center justify-content-between"
        >
          <h2 id="applyDialogTitle" class="m-0">Apply for Job</h2>
          <button
            mat-icon-button
            aria-label="Close dialog"
            (click)="closeApplyModal()"
          >
            <i-tabler name="x" class="icon-20"></i-tabler>
          </button>
        </div>

        <p>
          Your application will be submitted using your current profile
          information. To make any changes before submitting, please select
          <b>Edit Profile</b>. If no changes are needed, click <b>Submit</b> to
          Apply.
        </p>

        <form [formGroup]="userDetailsForm">
          <h3 class="additional-info-heading">Additional Information</h3>
          <mat-form-field appearance="fill" class="w-100 m-b-16">
            <textarea
              matInput
              placeholder="Enter additional information"
              formControlName="additional_info"
              rows="4"
            ></textarea>
            <mat-error
              *ngIf="
                userDetailsForm.get('additional_info')?.hasError('maxlength') &&
                (userDetailsForm.get('additional_info')?.touched || submitted)
              "
            >
              Additional Information cannot exceed 500 characters.
            </mat-error>
          </mat-form-field>

          <div class="dialog-actions">
            <button
              mat-button
              class="edit-profile-btn"
              (click)="goToEditProfile()"
            >
              Edit Profile
            </button>
            <button
              mat-flat-button
              color="primary"
              class="submit-btn"
              (click)="submitApplication()"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </mat-sidenav-content>

  <!-- Mobile Sidebar -->
  <mat-sidenav
    #filterNavRight
    mode="over"
    position="end"
    class="filter-sidebar"
  >
    <a mat-button>About us</a>
    <a mat-button>Ship Management</a>
    <a mat-button>Crew Management</a>
    <a mat-button>Job Opportunities</a>
    <a mat-button>Contact</a>
  </mat-sidenav>
</mat-sidenav-container>
